/* Colors */
/* Typography */
/* Mixin */
/* Bootstrap breakpoint */
/* General override */
html, body {
  font-size: 16px; }

button, input, optgroup, select, textarea {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif; }
  button:focus, input:focus, optgroup:focus, select:focus, textarea:focus {
    outline: none; }

h1, h2, h3, h4, h5 {
  font-family: "century-std", "noto-serif-patch", "source-han-serif-tc", serif;
  font-weight: bold;
  padding: 0;
  margin: 0; }

h1 {
  font-size: 3rem; }
  h1.super {
    font-size: 6rem; }
  h1.small {
    font-weight: bold;
    font-size: 2rem; }
  h1.sit {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 0.5rem; }

h2 {
  font-size: 2.25rem; }

hgroup > h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.875rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.125rem; }

hgroup > h1:not(:last-child), hgroup > h2:not(:last-child), hgroup > h3:not(:last-child), hgroup > h4:not(:last-child), hgroup > h5:not(:last-child) {
  margin-bottom: 0.5rem; }

label {
  margin: 0; }

img {
  display: block; }

a, a:hover, a:focus, a:active, a:visited {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }

a.a-text,
.a-text-only a {
  display: inline;
  border-bottom: 2px rgba(80, 227, 194, 0.5) solid; }
  a.a-text:hover, a.a-text:focus, a.a-text:active,
  .a-text-only a:hover,
  .a-text-only a:focus,
  .a-text-only a:active {
    border-bottom: 2px #50e3c2 solid; }

a.a-block {
  display: block; }
  a.a-block .a-target {
    border-bottom: 2px rgba(80, 227, 194, 0.5) solid; }
  a.a-block:hover .a-target, a.a-block:focus .a-target, a.a-block:active .a-target {
    border-bottom: 2px #50e3c2 solid; }

.close {
  float: none;
  display: block;
  position: absolute;
  top: -0.5rem;
  right: -2px;
  font-size: 2rem;
  line-height: 1;
  border-bottom-width: 4px;
  font-weight: normal;
  text-shadow: none;
  cursor: pointer; }
  .close, .close:hover, .close:focus {
    color: inherit;
    opacity: 1; }

.list-unstyled {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

.navbar, .navbar-brand {
  padding: 0; }

/* Watchout Commons-specific additional styles */
.text-color-park {
  color: #FFB55D; }

.bg-watchout {
  background-color: #50E3C2; }

.bg-park {
  background-color: #FFB55D; }

.bg-park-light {
  background-color: rgba(255, 181, 93, 0.25); }

.bg-lab {
  background-color: #50E3C2; }

.bg-lab-light {
  background-color: rgba(80, 227, 194, 0.25); }

.bg-ask {
  background-color: #4DEBDF; }

.bg-ask-light {
  background-color: rgba(77, 235, 223, 0.25); }

.bg-ask-gradient-to-transparent {
  background: linear-gradient(to bottom, rgba(77, 235, 223, 0.25), rgba(77, 235, 223, 0)); }

.bg-musou {
  background-color: #FF5368; }

.bg-musou-light {
  background-color: rgba(255, 83, 104, 0.25); }

.bg-edu {
  background-color: #B7F661; }

.bg-edu-light {
  background-color: rgba(183, 246, 97, 0.25); }

.header-center {
  text-align: center; }

.header-block {
  margin: 0;
  padding: 0.333333em 0; }

.header-block-tall {
  padding: 1em 0; }

section {
  width: 100%;
  padding-bottom: 2rem; }

.container-960 {
  max-width: 990px;
  margin-left: auto;
  margin-right: auto; }

.max-width-960 {
  max-width: 960px; }

.logo-type {
  display: block;
  height: auto; }

.logo-small, .icon-small {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: center center; }

.logo-small.musou {
  background-image: url(https://watchout.tw/asset/logo/musou/small.png); }
.logo-small.woo {
  background-image: url(https://watchout.tw/asset/logo/woo/small.png); }

.icon-small.transcript {
  background-image: url(https://watchout.tw/asset/icon/transcript/small.png); }

/* Watchout Commons-specific additional styles */
.pgroup {
  width: 18rem; }

.pgroup-center {
  margin: 0 auto; }

#pitcher {
  position: fixed;
  bottom: 0.25rem;
  right: 0.25rem;
  z-index: 2; }
  #pitcher > .button {
    display: block;
    width: 5.625rem;
    height: 5.625rem;
    border-radius: 50%;
    background-size: contain;
    background-image: url(https://watchout.tw/asset/pitcher.png); }
  #pitcher > .close {
    top: auto;
    bottom: -0.25rem;
    color: #50E3C2;
    opacity: 0.75; }

footer {
  margin-top: 8rem; }
  footer > .land {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    background-color: white; }
    footer > .land > .green,
    footer > .land > .soil > .light,
    footer > .land > .soil > .dark,
    footer > .land > .soil > .deep {
      background-position: center;
      background-size: contain; }
    footer > .land > .green {
      height: 14rem;
      background-image: url(https://watchout.tw/asset/footer/land/grass.png);
      background-repeat: repeat-x; }
    footer > .land > .soil > .light, footer > .land > .soil > .dark {
      height: 2rem;
      background-repeat: no-repeat; }
    footer > .land > .soil > .light {
      background-color: #bd7260;
      background-image: url(https://watchout.tw/asset/footer/land/soil/light.png); }
    footer > .land > .soil > .dark {
      background-color: #8c4533;
      background-image: url(https://watchout.tw/asset/footer/land/soil/dark.png); }
    footer > .land > .soil > .deep {
      background-color: #434343;
      padding-bottom: 2rem; }
    footer > .land > .elements {
      position: absolute;
      top: 0;
      width: 100%;
      height: 18rem; }
      footer > .land > .elements > .grass {
        position: absolute;
        bottom: 6rem;
        width: 100%;
        overflow: hidden; }
        footer > .land > .elements > .grass > .patch {
          background-size: contain; }
          footer > .land > .elements > .grass > .patch.big {
            width: 1.75rem;
            height: 0.875rem;
            background-image: url(https://watchout.tw/asset/footer/grass/big.png); }
          footer > .land > .elements > .grass > .patch.small {
            width: 0.75rem;
            height: 0.5rem;
            background-image: url(https://watchout.tw/asset/footer/grass/small.png); }
      footer > .land > .elements > .tree {
        position: absolute; }
        footer > .land > .elements > .tree.tree-deliberate {
          bottom: 5.25rem;
          left: 10%;
          width: 11.25rem; }
        footer > .land > .elements > .tree.tree-discover {
          bottom: 5rem;
          left: 10%;
          -webkit-transform: translateX(6rem);
          transform: translateX(6rem);
          width: 8.5rem; }
        footer > .land > .elements > .tree.tree-investigate {
          display: none;
          bottom: 5.5rem;
          right: 10%;
          width: 11.875rem; }
          @media (min-width: 576px) {
            footer > .land > .elements > .tree.tree-investigate {
              display: block; } }
        footer > .land > .elements > .tree.tree-sprout {
          bottom: 4rem;
          left: 50%;
          -webkit-transform: translateX(4rem);
          transform: translateX(4rem);
          width: 1.25rem; }
      footer > .land > .elements > .farmer {
        position: absolute; }
        footer > .land > .elements > .farmer.farmer-tangerine {
          bottom: 1.5rem;
          left: 12%;
          width: 4.625rem; }
        footer > .land > .elements > .farmer.farmer-green {
          bottom: -0.5rem;
          right: 8%;
          width: 5rem; }
        footer > .land > .elements > .farmer.farmer-brown {
          bottom: 4.5rem;
          left: 10%;
          -webkit-transform: translateX(14rem);
          transform: translateX(14rem);
          width: 2rem; }
  footer > .land > .soil > .deep > .social {
    margin: 0 auto;
    padding: 6rem 0;
    max-width: 20rem; }
    footer > .land > .soil > .deep > .social > .group {
      margin: 2rem; }
      footer > .land > .soil > .deep > .social > .group > .link > .image {
        display: block;
        position: relative;
        margin: 0 auto;
        width: 5.625rem; }
        footer > .land > .soil > .deep > .social > .group > .link > .image > img {
          width: 100%; }
        footer > .land > .soil > .deep > .social > .group > .link > .image > .type {
          position: absolute;
          top: -0.5rem;
          left: -0.5rem;
          width: 1.625rem;
          height: 1.625rem;
          background-size: contain; }
      footer > .land > .soil > .deep > .social > .group > .link > .message {
        font-family: "century-std", "noto-serif-patch", "source-han-serif-tc", serif;
        font-weight: bold;
        font-size: 1.125rem;
        color: rgba(255, 255, 255, 0.75);
        margin: 0.5rem 0; }
      footer > .land > .soil > .deep > .social > .group[type="facebook"] > .link > .image > .type {
        background-image: url(https://watchout.tw/asset/social/facebook/round.png); }
      footer > .land > .soil > .deep > .social > .group[type="LINE"] > .link > .image > .type {
        background-image: url(https://watchout.tw/asset/social/LINE/round.png); }
  footer > .land > .soil > .deep > .cluster {
    color: white; }
    footer > .land > .soil > .deep > .cluster > .group {
      margin: 0 2rem; }
      footer > .land > .soil > .deep > .cluster > .group > .item {
        color: rgba(255, 255, 255, 0.75);
        text-align: left; }

/*# sourceMappingURL=common.css.map */
