@charset "UTF-8";
/*
@font-face {
  font-family: "taiwan-comma";
  src: local("PingFang TC");
  unicode-range: U+FF0C, U+3002, U+FF1A, U+FF1B;
}
*/
[screen="gt-M"] {
  display: none !important; }

@media (min-width: 480px) {
  [screen="gt-M"] {
    display: inherit !important; }

  [screen="S"] {
    display: none !important; } }
[screen="gt-L"] {
  display: none !important; }

@media (min-width: 750px) {
  [screen="gt-L"] {
    display: inherit !important; }

  [screen="S-L"] {
    display: none !important; } }
html, body {
  font-size: 16px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "xin-gothic-tc", "PingFang TC", "Noto Sans CJK", "微軟正黑體", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 1.75; }

a {
  text-decoration: none; }
  a, a:visited {
    color: blue; }
  a:active {
    color: #F54B23; }
  a.block {
    color: black; }

h1, h2, h3, h4, h5, h6 {
  list-style: none;
  font-family: "century-std", "kozuka-mincho-extension", "kozuka-mincho-pr6n", "Kozuka Mincho Pr6N", "PingFang TC", "Noto Sans CJK", "微軟正黑體", sans-serif;
  font-weight: 900;
  margin: 0;
  padding-top: 0.36em;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  text-align: center; }

h1 {
  font-size: 4.8rem;
  line-height: 1.125; }
  @media (min-width: 480px) {
    h1 {
      font-size: 6rem; } }

h2 {
  font-size: 3rem;
  line-height: 1.16666667; }

html[lang="en"] h1 {
  font-family: "circular-pro", "source-han-sans-tc", "PingFang TC", "Noto Sans CJK", "微軟正黑體", sans-serif;
  font-weight: 900;
  font-size: 3.4rem; }
  @media (min-width: 480px) {
    html[lang="en"] h1 {
      font-size: 5.4rem; } }
html[lang="en"] h2 {
  font-size: 2.8rem; }

h2.datetime {
  font-size: 1.5rem; }

h3 {
  font-size: 2rem;
  line-height: 1.25; }

h4 {
  font-size: 1.5rem;
  line-height: 1.33333333; }

h3 + h4 {
  margin-top: 0.25rem; }

h5 {
  font-size: 1.125rem;
  line-height: 1.375;
  margin: 0; }

h6 {
  font-size: 2rem;
  line-height: 1.375; }

span.italic {
  font-style: italic; }

span.underline {
  display: inline;
  border-bottom: 3px solid black; }

span.emphasize {
  font-family: "century-std", "kozuka-mincho-extension", "kozuka-mincho-pr6n", "Kozuka Mincho Pr6N", "PingFang TC", "Noto Sans CJK", "微軟正黑體", sans-serif;
  font-weight: 900; }

span.fixed-width-center {
  display: inline;
  width: 5em;
  text-align: center;
  letter-spacing: 0.25; }

.emoji {
  font-family: sans-serif;
  font-weight: 400; }

.code,
.close,
.url {
  font-family: "akkurat-mono", "Menlo", monospace;
  font-weight: 400 !important; }

.url.disabled {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "xin-gothic-tc", "PingFang TC", "Noto Sans CJK", "微軟正黑體", sans-serif; }

.number {
  position: relative;
  font-family: "circular-pro", "source-han-sans-tc", "PingFang TC", "Noto Sans CJK", "微軟正黑體", sans-serif;
  font-weight: 900;
  font-size: 5.25rem;
  line-height: 1em;
  word-wrap: break-word; }
  @media (min-width: 480px) {
    .number {
      font-size: 8.5rem; } }
  .number.small {
    font-size: 4rem; }
    @media (min-width: 480px) {
      .number.small {
        font-size: 4.5rem; } }
  .number.tiny {
    font-size: 3rem; }
  .number > .word {
    font-size: 0.92em; }
    .number > .word.tw {
      font-size: 0.88em; }
  .number.unit[unit="篇"]:after {
    content: "篇"; }
  .number.unit[unit="筆"]:after {
    content: "筆"; }
  .number.unit[unit="則"]:after {
    content: "則"; }
  .number.unit[unit="場"]:after {
    content: "場"; }
  .number.unit:after {
    display: block;
    position: absolute;
    left: 100%;
    top: 56%;
    font-size: 0.8125rem;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "xin-gothic-tc", "PingFang TC", "Noto Sans CJK", "微軟正黑體", sans-serif;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    padding: 0;
    padding-left: 2px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }

html[lang="en"] span.emphasize {
  font-family: "circular-pro", "source-han-sans-tc", "PingFang TC", "Noto Sans CJK", "微軟正黑體", sans-serif;
  font-weight: 900; }
html[lang="en"] .url,
html[lang="en"] .url.disabled {
  font-family: "akkurat-mono", "Menlo", monospace; }

span.year, span.month {
  display: inline-block;
  text-align: center; }

span.year {
  width: 3em; }

span.month {
  width: 1em; }

.pgroup {
  display: block;
  width: 18rem;
  margin: 1rem auto;
  text-align: left; }
  .pgroup > p {
    margin: 1.75em auto; }
  .pgroup > p:first-child {
    margin-top: 0; }
  .pgroup > p:last-child {
    margin-bottom: 0; }

.single {
  line-height: 1em; }

.button, .prompt, .badge {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "xin-gothic-tc", "PingFang TC", "Noto Sans CJK", "微軟正黑體", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1em;
  text-align: center; }

.button.code {
  font-family: "akkurat-mono", "Menlo", monospace;
  font-weight: 400 !important; }

.support-button {
  font-family: "circular-pro", "xin-gothic-tc", "PingFang TC", "PingFang TC", "Noto Sans CJK", "微軟正黑體", sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1em;
  text-align: center; }

.badge, .support-button {
  line-height: 1.22222222em; }

html[lang="en"] .button {
  font-family: "circular-pro", "source-han-sans-tc", "PingFang TC", "Noto Sans CJK", "微軟正黑體", sans-serif;
  font-weight: 900; }
html[lang="en"] .support-button {
  font-size: 1.75rem;
  line-height: 1.2em; }

#call {
  color: rgba(80, 227, 194, 0.75);
  font-family: "century-std", "kozuka-mincho-extension", "kozuka-mincho-pr6n", "Kozuka Mincho Pr6N", "PingFang TC", "Noto Sans CJK", "微軟正黑體", sans-serif;
  font-weight: 900;
  font-size: 1.375rem;
  line-height: 1; }
  @media (min-width: 480px) {
    #call {
      font-size: 1.625rem; } }
  #call > #you {
    color: #50E3C2;
    display: inline-block;
    border-bottom: 4px solid #50E3C2; }

.custom-line-break > .line {
  display: block; }

.custom-line-break > .hide {
  display: none; }

@media (min-width: 480px) {
  .custom-line-break.M > .line:not(.always) {
    display: inline; }
  .custom-line-break.M > .line.trail {
    margin-right: 0.125em; }
  .custom-line-break.M > .hide:not(.always) {
    display: inline; } }
@media (min-width: 750px) {
  .custom-line-break.L > .line:not(.always) {
    display: inline; }

  .custom-line-break.L > .hide:not(.always) {
    display: inline; } }
@media (min-width: 960px) {
  .custom-line-break.X > .line:not(.always) {
    display: inline; }

  .custom-line-break.X > .hide:not(.always) {
    display: inline; } }
@media (min-width: 1440px) {
  .custom-line-break.A > .line:not(.always) {
    display: inline; }

  .custom-line-break.A > .hide:not(.always) {
    display: inline; } }
ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0; }

.option-title {
  font-family: "circular-pro", "xin-gothic-tc", "PingFang TC", "PingFang TC", "Noto Sans CJK", "微軟正黑體", sans-serif;
  font-size: 1.5rem;
  font-weight: 700; }

.note {
  font-size: 0.8125rem;
  line-height: 1.3846153846em;
  color: #9B9B9B;
  margin: 0; }

.datetime {
  font-family: "century-std", "kozuka-mincho-extension", "kozuka-mincho-pr6n", "Kozuka Mincho Pr6N", "PingFang TC", "Noto Sans CJK", "微軟正黑體", sans-serif;
  font-weight: 900; }

.tight {
  line-height: 1.375; }

.tagline {
  font-family: "circular-pro", "xin-gothic-tc", "PingFang TC", "PingFang TC", "Noto Sans CJK", "微軟正黑體", sans-serif;
  font-weight: 700;
  line-height: 1.375; }

.datetime.year {
  font-family: "century-std", "kozuka-mincho-extension", "kozuka-mincho-pr6n", "Kozuka Mincho Pr6N", "PingFang TC", "Noto Sans CJK", "微軟正黑體", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1;
  color: #50E3C2; }

.larger {
  font-family: "circular-pro", "xin-gothic-tc", "PingFang TC", "PingFang TC", "Noto Sans CJK", "微軟正黑體", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 1.75rem 0; }

#copyright > .line {
  line-height: 1.375; }

html[lang="en"] .option-title {
  line-height: 1.2; }
html[lang="en"] .note {
  margin-top: 0.25rem; }
html[lang="en"] .larger {
  line-height: 1.5; }

.system-dialog {
  text-align: center; }
  .system-dialog > .warning {
    font-size: 0.875rem; }
  .system-dialog > .content {
    font-family: "circular-pro", "xin-gothic-tc", "PingFang TC", "PingFang TC", "Noto Sans CJK", "微軟正黑體", sans-serif;
    font-weight: 700; }

a.to-appendix {
  display: inline-block;
  font-size: 0.75em;
  font-family: "circular-pro", "xin-gothic-tc", "PingFang TC", "PingFang TC", "Noto Sans CJK", "微軟正黑體", sans-serif;
  font-weight: 700; }

.support-options > .option {
  text-align: center; }

.pop {
  text-align: center; }

.sticker-name {
  color: #50E3C2;
  font-size: 1.125rem;
  font-family: "century-std", "kozuka-mincho-extension", "kozuka-mincho-pr6n", "Kozuka Mincho Pr6N", "PingFang TC", "Noto Sans CJK", "微軟正黑體", sans-serif;
  font-weight: 900;
  line-height: 1.125; }

body > section#sm > #facebook {
  text-align: center; }
body > section#sm > #stickers {
  text-align: center; }

body > footer > #email,
body > footer > #copyright {
  text-align: center; }

* {
  box-sizing: border-box; }

html, body {
  overflow-x: hidden; }

table {
  margin: 0;
  border-spacing: 0; }
  table td {
    padding: 0; }

body > section {
  position: relative; }
  body > section > hgroup:first-child {
    padding: 1rem 0; }
    body > section > hgroup:first-child:not(.clean) {
      background: rgba(80, 227, 194, 0.25); }
  body > section#first-section {
    margin: 1rem 0; }
  body > section#sm {
    padding: 4rem 0;
    background: rgba(80, 227, 194, 0.25); }
    body > section#sm > #stickers {
      margin-top: 2rem; }
      body > section#sm > #stickers > .sticker {
        display: inline-block;
        vertical-align: top;
        margin: 0.5rem 1rem;
        width: 100px; }
        body > section#sm > #stickers > .sticker > .sticker-example, body > section#sm > #stickers > .sticker > .sticker-name {
          display: block;
          cursor: pointer; }
        body > section#sm > #stickers > .sticker > .sticker-example {
          width: 100px; }
        body > section#sm > #stickers > .sticker > .sticker-name {
          padding-top: 0.36em;
          margin-top: 0.25em; }

body > footer {
  margin: 10rem 0 2rem; }
  body > footer > *:not(:last-child) {
    margin-bottom: 2rem; }
  body > footer > #email {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg); }
    body > footer > #email > label {
      padding: 0.25em 0.375em;
      background: #50E3C2; }
  body > footer > #copyright {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg); }
    body > footer > #copyright > ul > li {
      line-height: 1.375; }

body > section#sm + footer {
  margin-top: 4rem; }

.theater {
  width: 100%;
  margin: 0 auto;
  overflow: hidden; }
  .theater > img {
    display: block;
    width: 100%;
    margin: 0 auto; }
  .theater.green {
    background: rgba(80, 227, 194, 0.5); }
  .theater.light-green {
    background: rgba(80, 227, 194, 0.25); }
  .theater.comics > img {
    border: 4px solid #4A4A4A;
    border-radius: 4px; }
  .theater.P > img {
    width: auto;
    max-width: 100%;
    max-height: 960px; }
  .theater.X > img {
    max-width: 960px; }
  .theater.L > img {
    max-width: 750px; }

a.button {
  box-sizing: content-box;
  display: block;
  padding: 10px 12px;
  margin: 0 auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  width: 4em; }
  a.button:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35); }
  a.button.long {
    width: 5em; }
  a.button.longer {
    width: 6.2em; }

a.button.monetary {
  background: rgba(248, 231, 28, 0.75);
  color: #F5A623; }
  a.button.monetary:hover {
    background: rgba(248, 231, 28, 0.85); }
  a.button.monetary:active {
    color: #F54B23; }

a.button.link {
  background: rgba(0, 0, 0, 0.1); }
  a.button.link:hover {
    background: rgba(0, 0, 0, 0.2); }
  a.button.link:active {
    color: red; }

.split-flap > span:not(.focus) {
  display: none; }

a.support-button {
  box-sizing: content-box;
  display: block;
  color: #F5A623;
  width: 2.05555555em;
  background: rgba(248, 231, 28, 0.75);
  padding: 15px 24px;
  border-radius: 100%;
  margin: 0 auto;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer; }
  a.support-button:active {
    color: #F54B23; }
  a.support-button:hover {
    background: rgba(248, 231, 28, 0.85);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35); }
  a.support-button.shadow {
    opacity: 0.1;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%) scale(0.8);
    transform: translateX(-50%) scale(0.8); }

.prompt {
  box-sizing: content-box;
  display: block;
  color: #9B9B9B;
  width: 4em;
  padding: 4px 0.5em;
  border-bottom: 4px solid #9B9B9B;
  margin: 0.25rem auto; }
  .prompt.color-edu {
    color: black;
    border-bottom: 4px solid #B7F661; }

html[lang="en"] .prompt {
  width: 7.5em;
  padding: 4px 0; }

.badge {
  box-sizing: content-box;
  display: block;
  color: #50E3C2;
  width: 2em;
  padding: 8px 11px;
  border: 4px solid #50E3C2;
  border-radius: 100%;
  margin: 0 auto;
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg); }

.pop {
  background: #50E3C2;
  padding: 0.5rem 0.25rem; }
  .pop > p {
    margin: 0;
    line-height: 1.375; }

.stamp {
  width: 65px;
  height: 65px;
  margin: -1rem auto; }
  .stamp.logo.white {
    background: url("//watchout.tw/images/logo-wo-white.svg"); }
  .stamp.logo.green {
    background: url("//watchout.tw/images/logo-wo-green.svg"); }

nav {
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  background: #50E3C2;
  z-index: 2; }

#nav-space {
  height: 65px; }

nav > #home {
  width: 200px;
  height: 65px;
  background: url("//watchout.tw/images/watchout-tw-first.svg");
  margin-left: 24px; }

/*
@font-face {
  font-family: "taiwan-comma";
  src: local("PingFang TC");
  unicode-range: U+FF0C, U+3002, U+FF1A, U+FF1B;
}
*/
.event-icon {
  display: block;
  width: 192px;
  height: 160px;
  background-image: url("//watchout.tw/images/wo-cf-events.svg");
  background-size: 192px;
  margin: 0 auto;
  cursor: pointer; }
  .event-icon[key="誕生"] {
    width: 72;
    background-position: center 0px; }
  .event-icon[key="國會無雙"] {
    width: 48;
    background-position: center -160px; }
  .event-icon[key="無雙第一"] {
    width: 48;
    background-position: center -320px; }
  .event-icon[key="無雙改版"] {
    width: 48;
    background-position: center -480px; }
  .event-icon[key="市長給問"] {
    width: 48;
    background-position: center -640px; }
  .event-icon[key="公民學院"] {
    width: 48;
    background-position: center -800px; }
  .event-icon[key="無雙一千"] {
    width: 48;
    background-position: center -960px; }
  .event-icon[key="立委出任務"] {
    width: 48;
    background-position: center -1120px; }
  .event-icon[key="總統給問"] {
    width: 186;
    background-position: center -1280px; }
  .event-icon[key="總統辯論"] {
    width: 128;
    background-position: center -1440px; }
  .event-icon[key="開放國會松"] {
    width: 160px;
    background-position: center -1600px; }

.event-icon[key="誕生"], .event-icon[key="開放國會松"] {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat; }

.event-icon[key="誕生"] {
  background-image: url("//watchout.tw/images/goodfriend.png"); }

.event-icon[key="開放國會松"] {
  background-image: url("//watchout.tw/images/congressthon-small.png"); }

.project-icon.small {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("//watchout.tw/images/wo-cf-project-logo-small.svg");
  background-size: 100%;
  margin: 0 auto; }
  .project-icon.small[key="國會無雙"] {
    background-position: center 0px; }
  .project-icon.small[key="給問"] {
    background-position: center -30px; }
  .project-icon.small[key="公民學院"] {
    background-position: center -60px; }
  .project-icon.small[key="立委出任務"] {
    background-position: center -90px; }

@media (max-width: 479px) {
  .bill-icon {
    display: block;
    width: 132px;
    height: 128px;
    background-image: url("//watchout.tw/images/wo-cf-bills-mobile.svg");
    background-size: 100%;
    margin: 0 auto; }
    .bill-icon[key="voting"] {
      background-position: center 0px; }
    .bill-icon[key="callin"] {
      background-position: center -128px; }
    .bill-icon[key="achievement"] {
      background-position: center -256px; }
    .bill-icon[key="more"] {
      background-position: center -384px; } }
@media (min-width: 480px) {
  .bill-icon {
    display: block;
    width: 192px;
    height: 128px;
    background-image: url("//watchout.tw/images/wo-cf-bills-desktop.svg");
    background-size: 100%;
    margin: 0 auto; }
    .bill-icon[key="voting"] {
      background-position: center 0px; }
    .bill-icon[key="callin"] {
      background-position: center -128px; }
    .bill-icon[key="achievement"] {
      background-position: center -256px; }
    .bill-icon[key="more"] {
      background-position: center -384px; } }
@media (min-width: 750px) and (max-width: 959px) {
  .bill-icon {
    display: block;
    width: 132px;
    height: 128px;
    background-image: url("//watchout.tw/images/wo-cf-bills-mobile.svg");
    background-size: 100%;
    margin: 0 auto; }
    .bill-icon[key="voting"] {
      background-position: center 0px; }
    .bill-icon[key="callin"] {
      background-position: center -128px; }
    .bill-icon[key="achievement"] {
      background-position: center -256px; }
    .bill-icon[key="more"] {
      background-position: center -384px; } }

html[lang="en"] .payment-icon {
  display: block;
  width: 128px;
  height: 54px;
  background-image: url("//watchout.tw/images/wo-cf-monthly-payments-usa.svg");
  background-size: 100%;
  margin: 0 auto; }
  html[lang="en"] .payment-icon[key="30"] {
    background-position: center 0px; }
  html[lang="en"] .payment-icon[key="50"] {
    background-position: center -64px; }
  html[lang="en"] .payment-icon[key="100"] {
    background-position: center -128px; }
  html[lang="en"] .payment-icon[key="300"] {
    background-position: center -192px; }

#timeline {
  position: relative;
  padding-bottom: 0.5rem; }
  #timeline:before {
    content: '';
    display: block;
    position: absolute;
    background-repeat: repeat-x;
    background: #50E3C2; }
  #timeline > .years > .year {
    position: relative; }

#timeline > .years > .year > .events > .event {
  position: relative; }
  #timeline > .years > .year > .events > .event.L > .event-icon-wrapper {
    height: 150px; }
    #timeline > .years > .year > .events > .event.L > .event-icon-wrapper > .event-icon {
      margin-top: -5px; }
  #timeline > .years > .year > .events > .event.M > .event-icon-wrapper {
    height: 80px; }
    #timeline > .years > .year > .events > .event.M > .event-icon-wrapper > .event-icon {
      margin-top: -40px; }
  #timeline > .years > .year > .events > .event.S > .event-icon-wrapper {
    height: 62px; }
    #timeline > .years > .year > .events > .event.S > .event-icon-wrapper > .event-icon {
      margin-top: -49px; }
  #timeline > .years > .year > .events > .event.C > .event-icon-wrapper {
    height: 46px; }
    #timeline > .years > .year > .events > .event.C > .event-icon-wrapper > .event-icon {
      margin-top: -57px; }
  #timeline > .years > .year > .events > .event > .event-icon-wrapper {
    overflow: hidden; }
    @media (max-width: 479px) {
      #timeline > .years > .year > .events > .event > .event-icon-wrapper {
        zoom: 0.65; } }
  #timeline > .years > .year > .events > .event > .event-icon-wrapper, #timeline > .years > .year > .events > .event > .tagline {
    position: relative;
    display: inline-block;
    vertical-align: middle; }
  #timeline > .years > .year > .events > .event > .tagline {
    padding: 0.25rem 0;
    cursor: pointer; }
    #timeline > .years > .year > .events > .event > .tagline:after {
      content: 'i';
      display: block;
      font-family: "circular-pro", "source-han-sans-tc", "PingFang TC", "Noto Sans CJK", "微軟正黑體", sans-serif;
      font-weight: 900;
      color: black;
      font-size: 1rem;
      line-height: 1;
      text-align: center;
      width: 1rem;
      height: 1rem;
      padding: 0;
      opacity: 0.25;
      border: 2px solid black;
      border-radius: 100%;
      -webkit-transition: transform .25s, opacity .25s ease-in-out;
      transition: transform .25s, opacity .25s ease-in-out;
      cursor: pointer; }
  #timeline > .years > .year > .events > .event:hover > .tagline:after {
    transform: scale(1.25);
    opacity: 1; }
  #timeline > .years > .year > .events > .event > .event-dialog {
    display: block;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s, opacity .25s ease-in-out;
    transition: visibility 0s, opacity .25s ease-in-out;
    position: absolute;
    width: 308px;
    border: 4px solid #50E3C2;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.95);
    text-align: left;
    z-index: 1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer; }
    #timeline > .years > .year > .events > .event > .event-dialog > .datetime {
      display: inline-block;
      margin: 0.25em 6px -0.25em; }
    #timeline > .years > .year > .events > .event > .event-dialog > .pgroup {
      margin: 0 auto 0.5rem; }
      #timeline > .years > .year > .events > .event > .event-dialog > .pgroup > p {
        line-height: 1.375; }
    #timeline > .years > .year > .events > .event > .event-dialog > .url {
      display: inline-block;
      background: #50E3C2;
      width: 100%;
      padding: 8px 42px 8px 4px; }
      #timeline > .years > .year > .events > .event > .event-dialog > .url:not(.disabled):after {
        font-family: "akkurat-mono", "Menlo", monospace;
        font-weight: 400 !important;
        content: '→';
        display: inline-block;
        padding-left: 0.5em; }
    #timeline > .years > .year > .events > .event > .event-dialog > .button.close {
      display: inline-block;
      color: black;
      font-size: 1.5rem;
      background: #E0E0E0;
      position: absolute;
      right: 0;
      width: 42px;
      padding: 6px 0 10px;
      margin: 0;
      box-shadow: none;
      cursor: pointer; }
    #timeline > .years > .year > .events > .event > .event-dialog .url, #timeline > .years > .year > .events > .event > .event-dialog .button.close {
      vertical-align: top;
      line-height: 1.5rem;
      text-align: center; }
  #timeline > .years > .year > .events > .event.focus > .event-dialog {
    visibility: visible;
    opacity: 1; }

section#we-need-you {
  text-align: center; }
section#sm {
  text-align: center; }
section#citizenship #bill-of-rights > .bill {
  text-align: center; }

.stat {
  text-align: center; }

body > section {
  position: relative; }
  body > section > hgroup:first-child {
    padding: 1rem 0;
    background: rgba(80, 227, 194, 0.25); }
  body > section#first-section > hgroup {
    background: none; }
  body > section#first-section > h1 > .dot {
    font-size: 2rem;
    margin: 0 1rem; }
  body > section#fertile-land > #stats > .stat {
    margin-top: 1rem;
    margin-bottom: 1rem; }
    body > section#fertile-land > #stats > .stat > .number-wrapper {
      display: block;
      margin: 0.125rem 0; }
    body > section#fertile-land > #stats > .stat > .project-icon + .number-wrapper {
      margin-top: 0; }
    body > section#fertile-land > #stats > .stat > p {
      margin: 0; }
  body > section#support {
    padding-top: 65px; }
  body > section#we-need-you {
    height: 0;
    padding: 15% 0 84px;
    margin: 6rem 0 -65px;
    background-image: url("../images/genkidama-kusa.gif"), url("../images/genkidama.png");
    background-size: 50px, 100%;
    background-position: center bottom, center top;
    background-repeat: no-repeat;
    background-color: rgba(80, 227, 194, 0.25); }
    body > section#we-need-you > .wrapper {
      position: absolute;
      width: 100%;
      bottom: 84px; }
    body > section#we-need-you > .wrapper > #call {
      margin: 0; }
    body > section#we-need-you > .wrapper > #why {
      margin: 1rem 0;
      cursor: pointer; }
      body > section#we-need-you > .wrapper > #why:after {
        content: 'i';
        display: block;
        font-family: "circular-pro", "source-han-sans-tc", "PingFang TC", "Noto Sans CJK", "微軟正黑體", sans-serif;
        font-weight: 900;
        color: black;
        font-size: 1rem;
        line-height: 1;
        text-align: center;
        width: 1rem;
        height: 1rem;
        padding: 0;
        opacity: 0.25;
        border: 2px solid black;
        border-radius: 100%;
        -webkit-transition: transform .25s, opacity .25s ease-in-out;
        transition: transform .25s, opacity .25s ease-in-out;
        cursor: pointer;
        margin: 0.125rem auto; }
      body > section#we-need-you > .wrapper > #why:hover:after {
        transform: scale(1.25);
        opacity: 1; }
    body > section#we-need-you .qa {
      position: relative; }
      body > section#we-need-you .qa > .answer-wrapper {
        visibility: none;
        opacity: 0;
        -webkit-transition: visibility 0s, opacity .25s ease-in-out;
        transition: visibility 0s, opacity .25s ease-in-out;
        position: fixed;
        top: -2048%;
        left: 0;
        margin-top: 32.5px;
        z-index: 1; }
      body > section#we-need-you .qa.focus > .answer-wrapper {
        visibility: visible;
        opacity: 1;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      body > section#we-need-you .qa > .answer-wrapper > .answer-dialog {
        display: block;
        width: 308px;
        border: 4px solid #50E3C2;
        border-radius: 4px;
        margin: 0 auto;
        background: rgba(255, 255, 255, 0.95);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25); }
        body > section#we-need-you .qa > .answer-wrapper > .answer-dialog > .pgroup {
          margin: 0.5rem auto; }
          body > section#we-need-you .qa > .answer-wrapper > .answer-dialog > .pgroup > p {
            line-height: 1.375; }

html[lang="en"] body > section#first-section > h1 > .dot {
  margin-bottom: -1rem; }

.plan-intro {
  margin-top: 2rem; }

#support-buttons.deployed > .support-button.light {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  background: rgba(248, 231, 28, 0.95); }
#support-buttons.deployed > .support-button.shadow {
  position: relative;
  left: auto;
  -webkit-transform: scale(0.8);
  transform: scale(0.8); }

html[lang="en"] .support-button {
  width: 5.4em;
  height: 2.4em;
  padding: 1.5em 0; }

#support > .plan {
  margin: 2rem 0 4rem; }

#monthly-payments > .option:first-child {
  margin-top: 2rem; }
#monthly-payments > .option:not(:last-child) {
  margin-bottom: 4rem; }
#monthly-payments > .option {
  max-width: 640px;
  margin: 0 auto; }
#monthly-payments > .option > .icons {
  width: 100%;
  max-width: 640px;
  margin: 0 auto 0.5rem; }
  #monthly-payments > .option > .icons > .icon {
    display: inline-block;
    height: 0%;
    background-size: cover; }
    #monthly-payments > .option > .icons > .icon.na {
      opacity: 0.3;
      filter: grayscale(1); }
    #monthly-payments > .option > .icons > .icon.basics {
      width: 100%;
      padding-bottom: 20%;
      background-image: url("//watchout.tw/images/products/singles/basics.png");
      background-size: contain; }
    #monthly-payments > .option > .icons > .icon.stickers {
      width: 23.75%;
      padding-bottom: 20%;
      background-image: url("//watchout.tw/images/products/singles/stickers.png");
      background-size: contain; }
    #monthly-payments > .option > .icons > .icon.notebook {
      width: 23.75%;
      padding-bottom: 20%;
      background-image: url("//watchout.tw/images/products/singles/notebook.png");
      background-size: contain; }
    #monthly-payments > .option > .icons > .icon.gears {
      width: 30.3125%;
      padding-bottom: 20%;
      background-image: url("//watchout.tw/images/products/singles/gears.png");
      background-size: contain; }
    #monthly-payments > .option > .icons > .icon.tickets {
      width: 22.1875%;
      padding-bottom: 20%;
      background-image: url("//watchout.tw/images/products/singles/tickets.png");
      background-size: contain; }

#one-time-purchases > .option:first-child {
  margin-top: 2rem; }
#one-time-purchases > .option:not(:last-child) {
  margin-bottom: 3rem; }
#one-time-purchases > .option {
  max-width: 640px;
  margin: 0 auto; }
#one-time-purchases > .option > .icons {
  width: 100%;
  max-width: 640px;
  margin: 0 auto 0.5rem; }
  #one-time-purchases > .option > .icons > .icon {
    display: inline-block;
    height: 0%;
    background-size: cover; }
    #one-time-purchases > .option > .icons > .icon.na {
      opacity: 0.3;
      filter: grayscale(1); }
    #one-time-purchases > .option > .icons > .icon.pins {
      width: 17.1875%;
      padding-bottom: 20%;
      background-image: url("//watchout.tw/images/products/singles/pins.png");
      background-size: contain; }
    #one-time-purchases > .option > .icons > .icon.folders {
      width: 46.5625%;
      padding-bottom: 20%;
      background-image: url("//watchout.tw/images/products/singles/folders.png");
      background-size: contain; }
    #one-time-purchases > .option > .icons > .icon.bag {
      width: 19.375%;
      padding-bottom: 20%;
      background-image: url("//watchout.tw/images/products/singles/bag.png");
      background-size: contain; }
    #one-time-purchases > .option > .icons > .icon.pillow {
      width: 16.875%;
      padding-bottom: 20%;
      background-image: url("//watchout.tw/images/products/singles/pillow.png");
      background-size: contain; }
#one-time-purchases > .option > h5 > .multiplier {
  display: inline-block;
  margin: 0.125rem;
  padding: 0.25rem;
  font-family: "circular-pro", "source-han-sans-tc", "PingFang TC", "Noto Sans CJK", "微軟正黑體", sans-serif;
  font-weight: 900;
  font-size: 1.25rem;
  line-height: 1;
  background: black;
  color: white; }

.pop {
  margin: 3rem 0 2rem; }

#engineer-note {
  max-width: 18rem;
  margin: 1.75rem auto;
  padding-bottom: 0.25rem;
  background: rgba(0, 0, 0, 0.125); }
  #engineer-note > .bar {
    margin: 0;
    padding: 0.25rem;
    background: yellow; }
    #engineer-note > .bar > .emoji-warning,
    #engineer-note > .bar > span {
      display: inline-block;
      vertical-align: middle; }
    #engineer-note > .bar > .emoji-warning {
      display: inline-block;
      width: 1.5rem; }
  #engineer-note > .content {
    color: #555;
    margin: 0.125rem 0; }
    #engineer-note > .content > span {
      display: inline-block; }
      #engineer-note > .content > span.info {
        margin: 0 0.125rem; }
        #engineer-note > .content > span.info:after {
          content: 'i';
          display: block;
          font-family: "circular-pro", "source-han-sans-tc", "PingFang TC", "Noto Sans CJK", "微軟正黑體", sans-serif;
          font-weight: 900;
          color: black;
          font-size: 1rem;
          line-height: 1;
          text-align: center;
          width: 1rem;
          height: 1rem;
          padding: 0;
          opacity: 0.25;
          border: 2px solid black;
          border-radius: 100%;
          -webkit-transition: transform .25s, opacity .25s ease-in-out;
          transition: transform .25s, opacity .25s ease-in-out;
          cursor: pointer;
          display: inline-block;
          opacity: 0.5; }

/*# sourceMappingURL=index.css.map */
