@charset "utf-8";

/* --------------------------------
	intro
-------------------------------- */

section.sec-intro {
	position: relative;
	padding: 5%;
	overflow: hidden;
	background-image: url('../images/feature_bg.jpg');
	.inner-wrap {
		max-width: 1200px;
		margin: 0 auto;
		z-index: 2;
		position: relative;
	}
	.fist {
		position: absolute;
		bottom: 0;
		left: 0;
		max-width: 30%;
		z-index: 1;
		img {
			width: 100%;
		}
	}
	.title {
		color: #fff;
		font-size: 58px;
		font-weight: bold;
		margin-bottom: 5%;
		@include MQ(S) {
			font-size: 30px;
			margin: 20px;
		}
	}
}
