[screen="gt-M"] {
  display: none !important; }

@media (min-width: 480px) {
  [screen="gt-M"] {
    display: inherit !important; }

  [screen="S"] {
    display: none !important; } }
[screen="gt-L"] {
  display: none !important; }

@media (min-width: 750px) {
  [screen="gt-L"] {
    display: inherit !important; }

  [screen="S-L"] {
    display: none !important; } }
.grid {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }
  .grid:after {
    content: " ";
    display: block;
    clear: both; }

.grid.full-screen-grid {
  max-width: 100%; }

#timeline {
  width: 100%;
  margin: 2rem 0; }
  #timeline:before {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 16px;
    background: -webkit-linear-gradient(left, rgba(80, 227, 194, 0.25), #50e3c2);
    background: -moz-linear-gradient(left, rgba(80, 227, 194, 0.25), #50e3c2);
    background: -ms-linear-gradient(left, rgba(80, 227, 194, 0.25), #50e3c2);
    background: -o-linear-gradient(left, rgba(80, 227, 194, 0.25), #50e3c2);
    background: linear-gradient(from left, rgba(80, 227, 194, 0.25), #50e3c2); }
  #timeline > .years {
    max-width: 75rem;
    margin: 0 auto; }
  #timeline > .years > .year > .datetime.year {
    display: block;
    margin: 0 1rem;
    text-align: left; }
  #timeline > .years > .year#Y2013 {
    width: 12.5%;
    float: left; }
  #timeline > .years > .year#Y2014 {
    width: 33.33333%;
    float: left; }
  #timeline > .years > .year#Y2015 {
    width: 29.16667%;
    float: left; }
  #timeline > .years > .year#Y2016 {
    width: 25%;
    float: left; }
  #timeline > .years > .year > .events > .event {
    display: inline-block;
    vertical-align: bottom;
    text-align: center; }
    #timeline > .years > .year > .events > .event > .event-icon-wrapper, #timeline > .years > .year > .events > .event > .tagline {
      display: block; }
    #timeline > .years > .year > .events > .event > .tagline:after {
      margin: 0 auto; }
    #timeline > .years > .year > .events > .event > .event-dialog {
      width: 244px;
      bottom: 2048%;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      margin: 0.5rem 0; }
      #timeline > .years > .year > .events > .event > .event-dialog > pgroup {
        width: 14em; }
    #timeline > .years > .year > .events > .event.focus > .event-dialog {
      bottom: 75%; }

#monthly-payments > .payment-option {
  width: 22.91667%;
  float: left;
  margin-left: 1.04167%;
  margin-right: 1.04167%; }

#gifts > .gift {
  width: 22.91667%;
  float: left;
  margin-left: 1.04167%;
  margin-right: 1.04167%;
  margin-top: 1rem;
  margin-bottom: 1rem; }

#one-time-purchases > .purchase-option {
  width: 47.91667%;
  float: left;
  margin-left: 1.04167%;
  margin-right: 1.04167%;
  margin-top: 1rem;
  margin-bottom: 1rem; }

#bill-of-rights > .bill {
  width: 22.91667%;
  float: left;
  margin-left: 1.04167%;
  margin-right: 1.04167%;
  margin-top: 1rem;
  margin-bottom: 2rem; }

#stats > .stat {
  width: 97.91667%;
  float: left;
  margin-left: 1.04167%;
  margin-right: 1.04167%; }
  #stats > .stat > p {
    min-height: 44px; }
  #stats > .stat.small {
    width: 47.91667%;
    float: left;
    margin-left: 1.04167%;
    margin-right: 1.04167%; }
  #stats > .stat.tiny {
    width: 22.91667%;
    float: left;
    margin-left: 1.04167%;
    margin-right: 1.04167%; }

/*# sourceMappingURL=layout-gt-L.css.map */
