@charset "UTF-8";
[screen="gt-M"] {
  display: none !important; }

@media (min-width: 480px) {
  [screen="gt-M"] {
    display: inherit !important; }

  [screen="S"] {
    display: none !important; } }
[screen="gt-L"] {
  display: none !important; }

@media (min-width: 750px) {
  [screen="gt-L"] {
    display: inherit !important; }

  [screen="S-L"] {
    display: none !important; } }
html, body {
  font-size: 16px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "xin-gothic-tc", "PingFang TC", "微軟正黑體", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 1.75;
  text-align: center; }

a {
  text-decoration: none; }
  a, a:visited {
    color: blue; }
  a:active {
    color: #F54B23; }

h1, h2, h3, h4 {
  list-style: none;
  font-family: "century-std", "kozuka-mincho-pr6n", "Kozuka Mincho Pr6N", sans-serif;
  font-weight: 900;
  margin: 0;
  padding-top: 0.36em; }

h1 {
  font-size: 4.8rem;
  line-height: 1; }
  @media (min-width: 480px) {
    h1 {
      font-size: 6rem; } }

h2 {
  font-size: 3rem;
  line-height: 1.16666667; }

h3 {
  font-size: 2rem;
  line-height: 1; }

h4 {
  font-size: 1.125rem;
  line-height: 1.33333333; }

h3 + h4 {
  margin-top: 0.25rem; }

h5 {
  font-size: 1rem;
  line-height: 1.75;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "xin-gothic-tc", "PingFang TC", "微軟正黑體", sans-serif;
  font-weight: 400;
  margin: 0; }

span.italic {
  font-style: italic; }

span.underline {
  display: inline-block;
  line-height: 1.25em;
  border-bottom: 3px solid black; }

span.emphasize {
  font-family: "century-std", "kozuka-mincho-pr6n", "Kozuka Mincho Pr6N", sans-serif;
  font-weight: 900; }

span.fixed-width-center {
  display: inline-block;
  width: 5em;
  text-align: center;
  letter-spacing: 0.25; }

.emoji {
  font-family: sans-serif;
  font-weight: 400; }

.code,
.close,
.url {
  font-family: "akkurat-mono", monospace;
  font-weight: 400 !important; }

.url.disabled {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "xin-gothic-tc", "PingFang TC", "微軟正黑體", sans-serif; }

.number {
  position: relative;
  font-family: "circular-pro", "source-han-sans-tc", sans-serif;
  font-weight: 900;
  font-size: 5.25rem;
  line-height: 1em;
  word-wrap: break-word; }
  @media (min-width: 480px) {
    .number {
      font-size: 8.5rem; } }
  .number.small {
    font-size: 4rem; }
    @media (min-width: 480px) {
      .number.small {
        font-size: 4.5rem; } }
  .number.tiny {
    font-size: 3rem; }
  .number > .tw {
    font-size: 0.9em; }
  .number.unit[unit="篇"]:after {
    content: "篇"; }
  .number.unit[unit="筆"]:after {
    content: "筆"; }
  .number.unit[unit="則"]:after {
    content: "則"; }
  .number.unit[unit="場"]:after {
    content: "場"; }
  .number.unit:after {
    display: block;
    position: absolute;
    left: 100%;
    top: 56%;
    font-size: 0.8125rem;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "xin-gothic-tc", "PingFang TC", "微軟正黑體", sans-serif;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    padding: 0;
    padding-left: 2px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }

pgroup {
  display: block;
  width: 18rem;
  margin: 1rem auto;
  text-align: left; }
  pgroup > p {
    margin: 1.75em auto; }
  pgroup > p:first-child {
    margin-top: 0; }
  pgroup > p:last-child {
    margin-bottom: 0; }

.single {
  line-height: 1em; }

.button, .prompt, badge {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "xin-gothic-tc", "PingFang TC", "微軟正黑體", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1em; }

.support-button {
  font-family: "circular-pro", "xin-gothic-tc", "PingFang TC", sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1em; }

badge, .line, .support-button {
  line-height: 1.22222222em; }

.call {
  background: -webkit-linear-gradient(top, rgba(80, 227, 194, 0), rgba(80, 227, 194, 0.25));
  background: -moz-linear-gradient(top, rgba(80, 227, 194, 0), rgba(80, 227, 194, 0.25));
  background: -ms-linear-gradient(top, rgba(80, 227, 194, 0), rgba(80, 227, 194, 0.25));
  background: -o-linear-gradient(top, rgba(80, 227, 194, 0), rgba(80, 227, 194, 0.25));
  background: linear-gradient(from top, rgba(80, 227, 194, 0), rgba(80, 227, 194, 0.25));
  color: rgba(80, 227, 194, 0.75);
  font-family: "century-std", "kozuka-mincho-pr6n", "Kozuka Mincho Pr6N", sans-serif;
  font-weight: 900;
  font-size: 1.375rem;
  line-height: 1; }
  .call > .you {
    color: #50E3C2;
    display: inline-block;
    border-bottom: 4px solid #50E3C2; }

.custom-line-break > .line {
  display: block; }
  @media (min-width: 480px) {
    .custom-line-break > .line:not(.always) {
      display: inline; } }

.custom-line-break > .hide {
  display: none; }
  @media (min-width: 480px) {
    .custom-line-break > .hide {
      display: inline; } }

.custom-line-break > .line + .hide {
  margin-left: -0.125em; }

@media (min-width: 750px) {
  .custom-line-break-reverse > .line {
    display: block; }

  .custom-line-break-reverse > .hide {
    display: none; } }
ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.option-title {
  font-family: "circular-pro", "xin-gothic-tc", "PingFang TC", sans-serif;
  font-size: 1.5rem;
  font-weight: 700; }

.note {
  font-size: 0.8125rem;
  line-height: 1.3846153846em;
  color: #9B9B9B;
  margin: 0; }

.datetime {
  font-family: "century-std", "kozuka-mincho-pr6n", "Kozuka Mincho Pr6N", sans-serif;
  font-weight: 900; }

.tight {
  line-height: 1.375; }

.tagline {
  font-family: "century-std", "kozuka-mincho-pr6n", "Kozuka Mincho Pr6N", sans-serif;
  font-weight: 900;
  line-height: 1.375; }

.datetime.year {
  font-family: "century-std", "kozuka-mincho-pr6n", "Kozuka Mincho Pr6N", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1;
  color: #50E3C2; }

.larger {
  font-family: "circular-pro", "xin-gothic-tc", "PingFang TC", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 1.75rem 0; }

#copyright > .line {
  line-height: 1.375; }

.four {
  background: black;
  color: white;
  font-size: 0.8125rem;
  font-family: "circular-pro", "source-han-sans-tc", sans-serif;
  font-weight: 900; }

.four.big {
  font-size: 3rem; }

.sticker-name {
  color: #50E3C2;
  font-size: 1.125rem;
  font-family: "century-std", "kozuka-mincho-pr6n", "Kozuka Mincho Pr6N", sans-serif;
  font-weight: 900;
  line-height: 1; }

.warning {
  font-size: 0.875rem; }
  .warning > .emoji-warning {
    font-size: 1.5rem;
    line-height: 1; }

* {
  box-sizing: border-box; }

html, body {
  overflow-x: hidden; }

nav {
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  background: #50E3C2;
  z-index: 2; }

#nav-space {
  height: 65px; }

nav > #home {
  width: 200px;
  height: 65px;
  background: url("../images/watchout-tw-first.svg");
  margin-left: 24px; }

body > section {
  position: relative; }
  body > section > hgroup:first-child {
    padding: 1rem 0;
    background: rgba(80, 227, 194, 0.25); }
  body > section#first-section {
    margin: 1rem 0; }
  body > section#first-section > hgroup {
    padding: 0;
    background: none; }
  body > section#fertile-land > #stats > .stat {
    margin-top: 1rem;
    margin-bottom: 1rem; }
    body > section#fertile-land > #stats > .stat > .number-wrapper {
      display: block;
      margin: 0.5rem 0; }
    body > section#fertile-land > #stats > .stat > .project-icon + .number-wrapper {
      margin-top: 0; }
    body > section#fertile-land > #stats > .stat > p {
      margin: 0; }
  body > section#support {
    padding-top: 65px; }
  body > section#fertile-land {
    margin-bottom: -65px; }
  body > section#we-are-you {
    margin-bottom: 1rem; }

.full-screen-image {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }
  .full-screen-image > img {
    display: block;
    width: 100%; }

.pop {
  background: #50E3C2;
  margin: 2rem 0;
  padding: 0.25rem 0; }
  .pop > p {
    margin: 0; }

.prompt {
  box-sizing: content-box;
  display: block;
  color: #9B9B9B;
  width: 4em;
  padding: 4px 1.5em;
  border-bottom: 4px solid #9B9B9B;
  margin: 2rem auto 0.25rem; }

a.button {
  box-sizing: content-box;
  color: #F5A623;
  background: rgba(248, 231, 28, 0.75);
  display: block;
  width: 4em;
  padding: 10px 12px;
  margin: 0 auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer; }
  a.button:active {
    color: #F54B23; }
  a.button.wide {
    width: 5em; }
  a.button:hover {
    background: rgba(248, 231, 28, 0.85);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35); }

.divider {
  position: relative;
  background: none;
  border-top: 4px solid #50E3C2;
  border-bottom: 4px solid #50E3C2;
  margin: 2rem auto;
  max-width: 960px; }
  @media (min-width: 480px) {
    .divider {
      border: 4px solid #50E3C2;
      border-radius: 4px; } }
  @media (min-width: 480px) and (max-width: 959px) {
    .divider {
      margin: 2rem; } }
  @media (min-width: 960px) {
    .divider {
      margin: 2rem auto; } }

badge {
  box-sizing: content-box;
  display: block;
  color: #50E3C2;
  width: 2em;
  padding: 8px 11px;
  border: 4px solid #50E3C2;
  border-radius: 100%;
  margin: 0 auto;
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg); }

.divider > badge {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-15deg);
  transform: translate(-50%, -50%) rotate(-15deg);
  background: white; }

a.support-button {
  box-sizing: content-box;
  display: block;
  color: #F5A623;
  width: 2.05555555em;
  background: rgba(248, 231, 28, 0.75);
  padding: 15px 24px;
  border-radius: 100%;
  margin: 0 auto;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer; }
  a.support-button:active {
    color: #F54B23; }
  a.support-button:hover {
    background: rgba(248, 231, 28, 0.85);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35); }
  a.support-button.shadow {
    opacity: 0.1;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%) scale(0.8);
    transform: translateX(-50%) scale(0.8); }

#support-buttons.deployed > .support-button.light {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  background: rgba(248, 231, 28, 0.95); }
#support-buttons.deployed > .support-button.shadow {
  position: relative;
  left: auto;
  -webkit-transform: scale(0.8);
  transform: scale(0.8); }

section#sm {
  padding: 4rem 0;
  background: rgba(80, 227, 194, 0.25); }

#stickers {
  margin-top: 2rem; }

#email {
  margin: 3em 0 2em;
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg); }
  #email > label {
    padding: 0.25em 0.375em;
    background: #50E3C2; }

#copyright {
  margin: 2em 0 6em;
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg); }

.event-icon {
  display: block;
  width: 192px;
  height: 160px;
  background: url("../images/wo-august-2-events.svg");
  background-size: 192px;
  margin: 0 auto;
  cursor: pointer; }
  .event-icon[key="誕生"] {
    width: 72;
    background-position: center 0px; }
  .event-icon[key="國會無雙"] {
    width: 48;
    background-position: center -160px; }
  .event-icon[key="無雙第一"] {
    width: 48;
    background-position: center -320px; }
  .event-icon[key="無雙改版"] {
    width: 48;
    background-position: center -480px; }
  .event-icon[key="市長給問"] {
    width: 48;
    background-position: center -640px; }
  .event-icon[key="公民學院"] {
    width: 48;
    background-position: center -800px; }
  .event-icon[key="無雙一千"] {
    width: 48;
    background-position: center -960px; }
  .event-icon[key="立委出任務"] {
    width: 48;
    background-position: center -1120px; }
  .event-icon[key="總統給問"] {
    width: 186;
    background-position: center -1280px; }
  .event-icon[key="總統辯論"] {
    width: 128;
    background-position: center -1440px; }
  .event-icon[key="開放國會松"] {
    width: 160px;
    background-position: center -1600px; }

.event-icon[key="誕生"], .event-icon[key="開放國會松"] {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat; }

.event-icon[key="誕生"] {
  background-image: url("../images/goodfriend.png"); }

.event-icon[key="開放國會松"] {
  background-image: url("../images/congressthon-small.png"); }

.project-icon.small {
  display: block;
  width: 30px;
  height: 30px;
  background: url("../images/wo-august-2-project-logo-small.svg");
  background-size: 100%;
  margin: 0 auto; }
  .project-icon.small[key="國會無雙"] {
    background-position: center 0px; }
  .project-icon.small[key="給問"] {
    background-position: center -30px; }
  .project-icon.small[key="公民學院"] {
    background-position: center -60px; }
  .project-icon.small[key="立委出任務"] {
    background-position: center -90px; }

.payment-icon {
  display: block;
  width: 128px;
  height: 54px;
  background: url("../images/wo-august-2-monthly-payments.svg");
  background-size: 100%;
  margin: 0 auto; }
  .payment-icon[key="100"] {
    background-position: center 0px; }
  .payment-icon[key="250"] {
    background-position: center -64px; }
  .payment-icon[key="500"] {
    background-position: center -128px; }
  .payment-icon[key="custom"] {
    background-position: center -192px; }

.gift-icon {
  display: block;
  width: 128px;
  height: 118px;
  background: url("../images/wo-august-2-gifts.svg");
  background-size: 100%;
  margin: 0 auto; }
  .gift-icon[key="certificate"] {
    background-position: center 0px; }
  .gift-icon[key="card"] {
    background-position: center -128px; }
  .gift-icon[key="newsletter"] {
    background-position: center -256px; }
  .gift-icon[key="present"] {
    background-position: center -384px; }

.purchase-icon {
  display: block;
  width: 284px;
  height: 108px;
  background: url("../images/wo-august-2-purchases.svg");
  background-size: 100%;
  margin: 0 auto;
  cursor: pointer; }
  .purchase-icon[key="600"] {
    background-position: center 0px; }
  .purchase-icon[key="1500"] {
    background-position: center -108px; }
  .purchase-icon[key="3000"] {
    background-position: center -216px; }
  .purchase-icon[key="3600"] {
    background-position: center -324px; }
  .purchase-icon[key="10000"] {
    background-position: center -432px; }

.bill-icon {
  display: block;
  width: 132px;
  height: 128px;
  background: url("../images/wo-august-2-mobile-bills.svg");
  background-size: 100%;
  margin: 0 auto; }
  .bill-icon[key="voting"] {
    background-position: center 0px; }
  .bill-icon[key="callin"] {
    background-position: center -128px; }
  .bill-icon[key="achievement"] {
    background-position: center -256px; }
  .bill-icon[key="more"] {
    background-position: center -384px; }
  @media (min-width: 480px) {
    .bill-icon {
      display: block;
      width: 192px;
      height: 128px;
      background: url("../images/wo-august-2-desktop-bills.svg");
      background-size: 100%;
      margin: 0 auto; }
      .bill-icon[key="voting"] {
        background-position: center 0px; }
      .bill-icon[key="callin"] {
        background-position: center -128px; }
      .bill-icon[key="achievement"] {
        background-position: center -256px; }
      .bill-icon[key="more"] {
        background-position: center -384px; } }

#timeline {
  position: relative;
  padding-bottom: 0.5rem; }
  #timeline:before {
    content: '';
    display: block;
    position: absolute;
    background-repeat: repeat-x;
    background: #50E3C2; }
  #timeline > .years > .year {
    position: relative; }

#timeline > .years > .year > .events > .event {
  position: relative; }
  #timeline > .years > .year > .events > .event.L > .event-icon-wrapper {
    height: 150px; }
    #timeline > .years > .year > .events > .event.L > .event-icon-wrapper > .event-icon {
      margin-top: -5px; }
  #timeline > .years > .year > .events > .event.M > .event-icon-wrapper {
    height: 80px; }
    #timeline > .years > .year > .events > .event.M > .event-icon-wrapper > .event-icon {
      margin-top: -40px; }
  #timeline > .years > .year > .events > .event.S > .event-icon-wrapper {
    height: 62px; }
    #timeline > .years > .year > .events > .event.S > .event-icon-wrapper > .event-icon {
      margin-top: -49px; }
  #timeline > .years > .year > .events > .event.C > .event-icon-wrapper {
    height: 46px; }
    #timeline > .years > .year > .events > .event.C > .event-icon-wrapper > .event-icon {
      margin-top: -57px; }
  #timeline > .years > .year > .events > .event > .event-icon-wrapper {
    overflow: hidden; }
  #timeline > .years > .year > .events > .event > .event-icon-wrapper, #timeline > .years > .year > .events > .event > .tagline {
    position: relative;
    display: inline-block;
    vertical-align: middle; }
  #timeline > .years > .year > .events > .event > .tagline {
    margin: 0.25rem 0; }
    #timeline > .years > .year > .events > .event > .tagline:after {
      content: 'i';
      display: block;
      font-family: "circular-pro", "source-han-sans-tc", sans-serif;
      font-weight: 900;
      color: black;
      font-size: 1rem;
      line-height: 1;
      text-align: center;
      width: 1rem;
      height: 1rem;
      padding: 0;
      overflow: hidden;
      opacity: 0.25;
      border: 2px solid black;
      border-radius: 100%;
      -webkit-transition: transform .25s, opacity .25s ease-in-out;
      transition: transform .25s, opacity .25s ease-in-out;
      cursor: pointer; }
  #timeline > .years > .year > .events > .event:hover > .tagline:after {
    transform: scale(1.25);
    opacity: 1; }
  #timeline > .years > .year > .events > .event > .event-dialog {
    display: block;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s, opacity .25s ease-in-out;
    transition: visibility 0s, opacity .25s ease-in-out;
    position: absolute;
    border: 4px solid #50E3C2;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.95);
    text-align: left;
    z-index: 1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer; }
    #timeline > .years > .year > .events > .event > .event-dialog > .datetime {
      display: inline-block;
      margin: 0.25em 6px -0.25em; }
    #timeline > .years > .year > .events > .event > .event-dialog > pgroup {
      margin: 0 auto 0.5rem; }
      #timeline > .years > .year > .events > .event > .event-dialog > pgroup > p {
        line-height: 1.375; }
    #timeline > .years > .year > .events > .event > .event-dialog > .url {
      display: inline-block;
      background: #50E3C2;
      width: 100%;
      padding: 8px 42px 8px 4px; }
      #timeline > .years > .year > .events > .event > .event-dialog > .url:not(.disabled):after {
        font-family: "akkurat-mono", monospace;
        font-weight: 400 !important;
        content: '→';
        display: inline-block;
        padding-left: 0.5em; }
    #timeline > .years > .year > .events > .event > .event-dialog > .button.close {
      display: inline-block;
      color: black;
      font-size: 1.5rem;
      background: #E0E0E0;
      position: absolute;
      right: 0;
      width: 42px;
      padding: 6px 0 10px;
      margin: 0;
      box-shadow: none;
      cursor: pointer; }
    #timeline > .years > .year > .events > .event > .event-dialog .url, #timeline > .years > .year > .events > .event > .event-dialog .button.close {
      vertical-align: top;
      line-height: 1.5rem;
      text-align: center; }
  #timeline > .years > .year > .events > .event.focus > .event-dialog {
    visibility: visible;
    opacity: 1; }

#one-time-purchases > .purchase-option,
#group-purchases > .purchase-option {
  position: relative; }
  #one-time-purchases > .purchase-option > .purchase-icon-wrapper,
  #group-purchases > .purchase-option > .purchase-icon-wrapper {
    position: relative; }
  #one-time-purchases > .purchase-option > .purchase-icon-wrapper > .purchase-icon,
  #group-purchases > .purchase-option > .purchase-icon-wrapper > .purchase-icon {
    position: relative; }
    #one-time-purchases > .purchase-option > .purchase-icon-wrapper > .purchase-icon:before,
    #group-purchases > .purchase-option > .purchase-icon-wrapper > .purchase-icon:before {
      content: 'i';
      display: block;
      font-family: "circular-pro", "source-han-sans-tc", sans-serif;
      font-weight: 900;
      color: black;
      font-size: 1rem;
      line-height: 1;
      text-align: center;
      width: 1rem;
      height: 1rem;
      padding: 0;
      overflow: hidden;
      opacity: 0.25;
      border: 2px solid black;
      border-radius: 100%;
      -webkit-transition: transform .25s, opacity .25s ease-in-out;
      transition: transform .25s, opacity .25s ease-in-out;
      cursor: pointer;
      display: block;
      position: absolute;
      top: 0.5rem;
      left: -0.25rem; }
  #one-time-purchases > .purchase-option:hover > .purchase-icon-wrapper > .purchase-icon:before,
  #group-purchases > .purchase-option:hover > .purchase-icon-wrapper > .purchase-icon:before {
    transform: scale(1.25);
    opacity: 1; }
  #one-time-purchases > .purchase-option > .purchase-icon-wrapper > .purchase-detail,
  #group-purchases > .purchase-option > .purchase-icon-wrapper > .purchase-detail {
    display: block;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s, opacity .25s ease-in-out;
    transition: visibility 0s, opacity .25s ease-in-out;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 0;
    width: 308px;
    height: 108px;
    border: 4px solid #50E3C2;
    border-radius: 4px;
    margin: 0 auto;
    padding: 6px;
    background: rgba(255, 255, 255, 0.75);
    line-height: 1.375;
    text-align: left; }
    #one-time-purchases > .purchase-option > .purchase-icon-wrapper > .purchase-detail > li,
    #group-purchases > .purchase-option > .purchase-icon-wrapper > .purchase-detail > li {
      position: absolute; }
      #one-time-purchases > .purchase-option > .purchase-icon-wrapper > .purchase-detail > li.ma,
      #group-purchases > .purchase-option > .purchase-icon-wrapper > .purchase-detail > li.ma {
        bottom: 6px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%); }
      #one-time-purchases > .purchase-option > .purchase-icon-wrapper > .purchase-detail > li.ct,
      #group-purchases > .purchase-option > .purchase-icon-wrapper > .purchase-detail > li.ct {
        top: 2rem;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%); }
      #one-time-purchases > .purchase-option > .purchase-icon-wrapper > .purchase-detail > li.to,
      #group-purchases > .purchase-option > .purchase-icon-wrapper > .purchase-detail > li.to {
        right: 3rem;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%); }
      #one-time-purchases > .purchase-option > .purchase-icon-wrapper > .purchase-detail > li.fi,
      #group-purchases > .purchase-option > .purchase-icon-wrapper > .purchase-detail > li.fi {
        right: 6px;
        bottom: 6px; }
      #one-time-purchases > .purchase-option > .purchase-icon-wrapper > .purchase-detail > li.ba,
      #group-purchases > .purchase-option > .purchase-icon-wrapper > .purchase-detail > li.ba {
        left: 2.75rem;
        top: 1.5rem; }
      #one-time-purchases > .purchase-option > .purchase-icon-wrapper > .purchase-detail > li.br,
      #group-purchases > .purchase-option > .purchase-icon-wrapper > .purchase-detail > li.br {
        left: 6px;
        bottom: 6px; }
      #one-time-purchases > .purchase-option > .purchase-icon-wrapper > .purchase-detail > li.ke,
      #group-purchases > .purchase-option > .purchase-icon-wrapper > .purchase-detail > li.ke {
        right: 6px;
        top: 6px; }
      #one-time-purchases > .purchase-option > .purchase-icon-wrapper > .purchase-detail > li > span,
      #group-purchases > .purchase-option > .purchase-icon-wrapper > .purchase-detail > li > span {
        display: inline-block;
        vertical-align: baseline;
        margin-right: 2px; }
        #one-time-purchases > .purchase-option > .purchase-icon-wrapper > .purchase-detail > li > span.four,
        #group-purchases > .purchase-option > .purchase-icon-wrapper > .purchase-detail > li > span.four {
          padding: 0 4px; }
  #one-time-purchases > .purchase-option.focus > .purchase-icon-wrapper > .purchase-detail,
  #group-purchases > .purchase-option.focus > .purchase-icon-wrapper > .purchase-detail {
    visibility: visible;
    opacity: 1; }

#group-purchases > .purchase-option {
  position: relative;
  background: rgba(248, 231, 28, 0.25);
  border-top: 4px solid #F8E71C;
  border-bottom: 4px solid #F8E71C;
  margin: 2rem auto;
  max-width: 960px;
  padding: 1rem 0; }
  @media (min-width: 480px) {
    #group-purchases > .purchase-option {
      border: 4px solid #F8E71C;
      border-radius: 4px; } }
  @media (min-width: 480px) and (max-width: 959px) {
    #group-purchases > .purchase-option {
      margin: 2rem; } }
  @media (min-width: 960px) {
    #group-purchases > .purchase-option {
      margin: 2rem auto; } }
  #group-purchases > .purchase-option > .purchase-icon-wrapper > .purchase-icon {
    height: 140px; }
  #group-purchases > .purchase-option > .purchase-icon-wrapper > .four,
  #group-purchases > .purchase-option > .purchase-icon-wrapper > .purchase-detail > li > .four {
    display: block;
    text-align: center;
    width: 2em;
    margin: 0 auto;
    line-height: 1.15; }
  #group-purchases > .purchase-option > .purchase-icon-wrapper > .four {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out; }
  #group-purchases > .purchase-option.focus > .purchase-icon-wrapper > .four {
    opacity: 0; }
  #group-purchases > .purchase-option > .purchase-icon-wrapper > .purchase-detail {
    height: 140px; }
    #group-purchases > .purchase-option > .purchase-icon-wrapper > .purchase-detail > li.ba {
      top: 1.75rem; }
    #group-purchases > .purchase-option > .purchase-icon-wrapper > .purchase-detail > li.ct {
      top: 2.25rem; }
  #group-purchases > .purchase-option > hgroup {
    margin-top: -0.25rem;
    margin-bottom: 0.25rem; }

#stickers > .sticker {
  display: inline-block;
  margin: 0.5rem 1rem; }
  #stickers > .sticker > .sticker-example, #stickers > .sticker > .sticker-name {
    display: block;
    cursor: pointer; }
  #stickers > .sticker > .sticker-example {
    width: 100px; }
  #stickers > .sticker > .sticker-name {
    padding-top: 0.36em;
    margin-top: 0.25em; }

.split-flap > span:not(.focus) {
  display: none; }

#we-need-you {
  padding: 2rem 0 0;
  margin: 0; }

#engineer-note {
  max-width: 18rem;
  margin: 1.75rem auto;
  padding: 0.5rem 0;
  background: rgba(0, 0, 0, 0.125); }
  #engineer-note > .warning {
    margin: 0; }
    #engineer-note > .warning > span {
      display: inline-block;
      vertical-align: middle; }
  #engineer-note > h4 {
    color: #555; }
    #engineer-note > h4 > span {
      display: inline-block; }
      #engineer-note > h4 > span.info:after {
        content: 'i';
        display: block;
        font-family: "circular-pro", "source-han-sans-tc", sans-serif;
        font-weight: 900;
        color: black;
        font-size: 1rem;
        line-height: 1;
        text-align: center;
        width: 1rem;
        height: 1rem;
        padding: 0;
        overflow: hidden;
        opacity: 0.25;
        border: 2px solid black;
        border-radius: 100%;
        -webkit-transition: transform .25s, opacity .25s ease-in-out;
        transition: transform .25s, opacity .25s ease-in-out;
        cursor: pointer;
        display: inline-block;
        margin: 0 0.125rem; }

/*# sourceMappingURL=master.css.map */
