* {
	box-sizing: border-box;
}
html, body {
	overflow-x: hidden;
}

body > section {
	position: relative;
	> hgroup:first-child {
		padding: 1rem 0;
		background: $woc-light;
	}
	&#first-section {
		margin: 1rem 0;
	}
}

.theater {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	> img {
		display: block;
		width: 100%;
		margin: 0 auto;
	}
	&.green {
		background: rgba($woc, 0.5);
	}
	&.portrait > img {
    width: auto;
    max-width: 100%;
    max-height: 960px;
  }
	&.X > img {
		max-width: $X;
	}
	&.L > img {
		max-width: $L;
	}
}

a.button {
	box-sizing: content-box;
	display: block;
	padding: 10px 12px;
	margin: 0 auto;
	box-shadow: $shadow-light;
	cursor: pointer;

	&:hover {
		box-shadow: $shadow-dark;
	}

	width: 4em;
	&.long {
		width: 5em;
	}
	&.longer {
		width: 6.2em;
	}
}
a.button.monetary {
	background: $gold-light;
	color: $orange;
	&:hover {
		background: $gold-dark;
	}
	&:active {
		color: $red;
	}
}
a.button.link {
  background: rgba(0, 0, 0, 0.1);
  &:hover {
    background: rgba(0, 0, 0, 0.2);
  }
  &:active {
    color: red;
  }
}

// switching between phrases
.split-flap {
	> span:not(.focus) {
		display: none;
	}
}
// big yellow support button
a.support-button {
	box-sizing: content-box;
	display: block;
	color: $orange;
	&:active {
		color: $red;
	}
	width: 2.05555555em; // 74px
	background: $gold-light;
	padding: 15px 24px;
	border-radius: 100%;
	margin: 0 auto;
	@include transform(scale(0.8));
	box-shadow: $shadow-light;
	cursor: pointer;

	&:hover {
		background: $gold-dark;
		box-shadow: $shadow-dark;
	}
	&.shadow {
		opacity: 0.1;
		position: absolute;
		left: 50%;
		@include transform(translateX(-50%) scale(0.8));
	}
}
// words with grey underline
.prompt {
	box-sizing: content-box;
	display: block;
	color: $grey;
	width: 4em;
	padding: $border-width 0.5em;
	border-bottom: $border-width solid $grey;
	margin: 0.25rem auto;
}
@include lang-en {
	.prompt {
	  width: 7.5em;
	  padding: 4px 0;
	}
}
// green circle with words
.badge {
	box-sizing: content-box;
	display: block;
	color: $woc;
	width: 2em;
	padding: 8px 11px;
	border: $border-green;
	border-radius: 100%;
	margin: 0 auto;
	@include transform(rotate(-15deg));
}
// band of green with words
.pop {
	background: $woc;
	margin: 3rem 0 2rem;
	padding: 0.5rem 0.25rem;

	> p {
		margin: 0;
		line-height: $leading-tight;
	}
}
// watchout stamp
.stamp {
	width: $nav-height;
	height: $nav-height;
	margin: 0 auto;

	&.logo.white {
		background: url('//watchout.tw/images/logo-wo-white.svg');
	}
	&.logo.green {
		background: url('//watchout.tw/images/logo-wo-green.svg');
	}
}
