[screen="gt-M"] {
  display: none !important;
}
@include screen-gt-M {
  [screen="gt-M"] {
    display: inherit !important;
  }
  [screen="S"] {
    display: none !important;
  }
}

[screen="gt-L"] {
	display: none !important;
}
@include screen-gt-L {
	[screen="gt-L"] {
		display: inherit !important;
	}
	[screen="S-L"] {
		display: none !important;
	}
}
