// responsive
$M: 480px;
$L: 750px;
$X: 960px;
$A: 1440px;
@mixin screen-S {
	@media (max-width: ($M - 1px)) { @content; }
}
@mixin screen-gt-M { // M and up
	@media (min-width: $M) { @content; }
}
@mixin screen-M-L { // M to L
  @media (min-width: $M) and (max-width: ($L - 1px)) { @content; }
}
@mixin screen-gt-L { // L and up
  @media (min-width: $L) { @content; }
}
@mixin screen-M-X { // M to X
	@media (min-width: $M) and (max-width: ($X - 1px)) { @content; }
}
@mixin screen-L-X {
	@media (min-width: $L) and (max-width: ($X - 1px)) { @content; }
}
@mixin screen-gt-X { // X and up
	@media (min-width: $X) { @content; }
}
@mixin screen-gt-A { // A and up
	@media (min-width: $A) { @content; }
}

// internationalization
@mixin lang-en {
	html[lang="en"] { @content; }
}

// colors
$woc: #50E3C2;
$gold: #F8E71C;
$orange: #F5A623;
$red: #F54B23;
$grey: #9B9B9B;

// typography
$rem: 16px;

@font-face {
  font-family: "taiwan-comma";
  src: local("PingFang TC");
  unicode-range: U+FF0C, U+3002, U+FF1A, U+FF1B;
}

$font-body: "Helvetica Neue", "Helvetica", "Arial", "xin-gothic-tc", "PingFang TC", "微軟正黑體", sans-serif;
$leading-normal: 1.75;
$leading-tight: 1.375;
$leading-really-tight: 1.125;

$font-mincho: "century-std", "taiwan-comma", "kozuka-mincho-pr6n", "Kozuka Mincho Pr6N", sans-serif;
$font-monospace: "akkurat-mono", monospace;
$font-strong: "circular-pro", "xin-gothic-tc", "PingFang TC", sans-serif;
$font-grotesque: "circular-pro", "source-han-sans-tc", sans-serif;

@mixin font-body {
  font-family: $font-body;
  font-weight: 400;
}
@mixin font-body-bold {
  font-family: $font-body;
  font-weight: 700;
}
@mixin font-mincho {
  font-family: $font-mincho;
  font-weight: 900;
}
@mixin font-strong {
  font-family: $font-strong;
  font-weight: 700;
}
@mixin font-grotesque {
  font-family: $font-grotesque;
  font-weight: 900;
}
@mixin font-monospace {
  font-family: $font-monospace;
  font-weight: 400 !important; // no bold
}

// layout & unified style elements
$max-width: 960px;

$nav-height: 65px;
$gold-faint: rgba($gold, 0.25);
$gold-light: rgba($gold, 0.75);
$gold-dark: rgba($gold, 0.85);
$gold-almost: rgba($gold, 0.95);
$shadow-light: 0 2px 4px 0 rgba(black, 0.25);
$shadow-dark: 0 2px 4px 0 rgba(black, 0.35);
$border-width: 4px;
$border-green: $border-width solid $woc;
$border-gold: $border-width solid $gold;

@mixin transform($attr) {
	-webkit-transform: $attr;
	transform: $attr;
}
@mixin background-gradient($dir, $from, $to) {
	background: -webkit-linear-gradient($dir, $from, $to); // Safari 5.1, Chrome 10+
	background: -moz-linear-gradient($dir, $from, $to); // Firefox 3.6+
	background: -ms-linear-gradient($dir, $from, $to); // IE 10
	background: -o-linear-gradient($dir, $from, $to); // Opera 11.10+
	background: linear-gradient(from $dir, $from, $to);
}
@mixin transition-visibility {
	-webkit-transition: visibility 0s, opacity .25s ease-in-out;
	transition: visibility 0s, opacity .25s ease-in-out;
}
@mixin transition-opacity {
	-webkit-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out;
}
@mixin transition-highlight {
	-webkit-transition: transform .25s, opacity .25s ease-in-out;
	transition: transform .25s, opacity .25s ease-in-out;
}
@mixin centering-hor {
	left: 50%;
	@include transform(translateX(-50%));
}
@mixin centering-ver {
	top: 50%;
	@include transform(translateY(-50%));
}
@mixin centering-both {
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));
}

@mixin icon($width, $height, $background, $step, $keys, $custom-width:(), $full-width: 100%) {
	display: block;
	width: $width;
	height: $height;
	background: url('../images/wo-cf-' + $background + '.svg');
	background-size: $full-width;
	margin: 0 auto;

	@for $i from 0 through length($keys)-1 {
	  &[key="#{nth($keys, $i+1)}"] {
			@if length($custom-width) > 0 {
				width: #{nth($custom-width, $i+1)};
			}
	    background-position: center #{-$i*$step}; // shift window along Y
	  }
	}
}
