@import 'variables';
@import 'responsive';
@import 'typography';

* {
	box-sizing: border-box;
}

html, body {
	overflow-x: hidden;
}
nav {
	width: 100%;
	height: $nav-height;
	position: fixed;
	top: 0;
	background: $woc;
	z-index: 2;
}
#nav-space {
	height: $nav-height;
}
nav > #home {
	width: 200px;
	height: $nav-height;
	background: url('../images/watchout-tw-first.svg');
	margin-left: 24px;
}
body > section {
	position: relative;
	> hgroup:first-child {
		padding: 1rem 0;
		background: rgba($woc, 0.25);
	}
	&#first-section {
		margin: 1rem 0;
		> hgroup {
			background: none;
		}
		> h1 > .dot {
			font-size: 2rem;
			margin: 0 1rem;
		}
	}
	&#fertile-land > #stats > .stat {
		margin-top: 1rem;
		margin-bottom: 1rem;
		> .number-wrapper {
			display: block;
			margin: 0.125rem 0;
		}
		> .project-icon + .number-wrapper {
			margin-top: 0;
		}
		> p {
			margin: 0;
		}
	}
	&#support {
		padding-top: $nav-height; // to make space for nav while jumping
	}
	&#we-need-you {
		margin-bottom: -$nav-height; // to absorb that space
	}
	&#we-are-you {
		margin-bottom: 1rem;
	}
}
@include lang-en {
	body > section#first-section > h1 > .dot {
	  margin-bottom: -1rem;
	}
}

.full-screen-image {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	> img {
		display: block;
		width: 100%;
	}
}

.pop {
	background: $woc;
	margin: 3rem 0 2rem;
	padding: 0.5rem 0.25rem;

	> p {
		margin: 0;
		line-height: $leading-tight;
	}
}
.plan-intro {
	margin-top: 2rem;
}
.prompt {
	box-sizing: content-box;
	display: block;
	color: $grey;
	width: 4em;
	padding: $border-width 1.5em;
	border-bottom: $border-width solid $grey;
	margin: 0.25rem auto;
}
@include lang-en {
	.prompt {
	  width: 7.5em;
	  padding: 4px 0;
	}
}
#one-time-purchases-intro,
#one-time-purchases,
#group-purchases {
	display: none;
}
a.button {
	box-sizing: content-box;
	display: block;
	padding: 10px 12px;
	margin: 0 auto;
	box-shadow: $shadow-light;
	cursor: pointer;

	&:hover {
		box-shadow: $shadow-dark;
	}

	width: 4em;
	&.long {
		width: 5em;
	}
	&.longer {
		width: 6.2em;
	}
}
a.button.monetary {
	background: $gold-light;
	color: $orange;
	&:hover {
		background: $gold-dark;
	}
	&:active {
		color: $red;
	}
}
a.button.link {
  background: rgba(0, 0, 0, 0.1);
  &:hover {
    background: rgba(0, 0, 0, 0.2);
  }
  &:active {
    color: red;
  }
}

@mixin divider($border, $background) {
	position: relative;
	background: $background;
	border-top: $border;
	border-bottom: $border;
	margin: 2rem auto;
	max-width: 960px;
	@include screen-gt-M {
		border: $border;
		border-radius: $border-width;
	}
	@include screen-M-X {
		margin: 2rem;
	}
	@include screen-gt-X {
		margin: 2rem auto;
	}

}

.divider {
	@include divider($border-green, none);
}
badge {
	box-sizing: content-box;
	display: block;
	color: $woc;
	width: 2em;
	padding: 8px 11px;
	border: $border-green;
	border-radius: 100%;
	margin: 0 auto;
	@include transform(rotate(-15deg));
}
.divider > badge {
	position: absolute;
	left: 50%;
	@include transform(translate(-50%, -50%) rotate(-15deg));
	background: white;
}
a.support-button {
	box-sizing: content-box;
	display: block;
	color: $orange;
	&:active {
		color: $red;
	}
	width: 2.05555555em; // 74px
	background: $gold-light;
	padding: 15px 24px;
	border-radius: 100%;
	margin: 0 auto;
	@include transform(scale(0.8));
	box-shadow: $shadow-light;
	cursor: pointer;

	&:hover {
		background: $gold-dark;
		box-shadow: $shadow-dark;
	}
	&.shadow {
		opacity: 0.1;
		position: absolute;
		left: 50%;
		@include transform(translateX(-50%) scale(0.8));
	}
}
#support-buttons.deployed {
	> .support-button.light {
		position: fixed;
		top: 0;
		right: 0;
		z-index: 3;
		background: $gold-almost;
	}
	> .support-button.shadow {
		position: relative;
		left: auto;
		@include transform(scale(0.8));
	}
}
@include lang-en {
	.support-button {
	  width: 5.4em;
	  height: 2.4em;
	  padding: 1.5em 0;
	}
}

section#sm {
	padding: 4rem 0;
	background: rgba($woc, 0.25);
}
#stickers {
	margin-top: 2rem;
}
#email {
	margin: 3em 0 2em;
	@include transform(rotate(-5deg));
	> label {
		padding: 0.25em 0.375em;
		background: $woc;
	}
}
#copyright {
	margin: 2em 0 6em;
	@include transform(rotate(3deg));
}

$event-icon-height: 160px;
$event-icon-keys: (誕生 國會無雙 無雙第一 無雙改版 市長給問 公民學院 無雙一千 立委出任務 總統給問 總統辯論 開放國會松);
$event-icon-width: (72 48 48 48 48 48 48 48 186 128 $event-icon-height);
.event-icon {
	@include icon(192px, $event-icon-height, 'events', $event-icon-height, $event-icon-keys, $event-icon-width, 192px);
	cursor: pointer;
}
.event-icon[key="誕生"], .event-icon[key="開放國會松"] {
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
}
.event-icon[key="誕生"] {
	background-image: url('../images/goodfriend.png');
}
.event-icon[key="開放國會松"] {
	background-image: url('../images/congressthon-small.png');
}
.project-icon.small {
	@include icon(30px, 30px, 'project-logo-small', 30px, (國會無雙 給問 公民學院 立委出任務));
}
.payment-icon {
	@include icon(128px, 54px, 'monthly-payments', 64px, (100 250 500 custom));
}
.gift-icon {
	@include icon(128px, 118px, 'gifts', 128px, (certificate card newsletter present));
}
.purchase-icon {
	@include icon(284px, 108px, 'purchases', 108px, (600 1500 3000 3600 10000));
	cursor: pointer;
}
.bill-icon {
	$bill-keys: (voting callin achievement more);
	$bill-height: 128px;
	@include screen-S {
		@include icon(132px, $bill-height, 'bills-mobile', $bill-height, $bill-keys);
	}
	@include screen-gt-M {
		@include icon(192px, $bill-height, 'bills-desktop', $bill-height, $bill-keys);
	}
	@include screen-L-X {
		@include icon(132px, $bill-height, 'bills-mobile', $bill-height, $bill-keys);
	}
}
@include lang-en {
	.payment-icon {
		@include icon(128px, 54px, 'monthly-payments-usa', 64px, (30 50 100 custom));
	}
}

#timeline {
	position: relative;
	padding-bottom: 0.5rem;

	&:before {
		content: '';
		display: block;
		position: absolute;
		background-repeat: repeat-x;
		background: $woc;
	}
	& > .years > .year {
		position: relative;
	}
}
#timeline > .years > .year > .events > .event {
	position: relative;
	$icon-heights: (
		L: 150px,
		M: 80px,
		S: 62px,
		C: 46px, // compact
	);
	@each $name, $size in $icon-heights {
		&.#{$name} > .event-icon-wrapper {
			height: $size;
			> .event-icon {
				margin-top: -($event-icon-height - $size)/2;
			}
		}
	}
	> .event-icon-wrapper {
		overflow: hidden;
	}
	> .event-icon-wrapper, > .tagline {
		position: relative;
		display: inline-block;
		vertical-align: middle;
	}
	> .tagline {
		padding: 0.25rem 0;
		cursor: pointer;
		&:after {
			@include info;
		}
	}
	&:hover > .tagline {
		&:after {
			@include info-highlighted;
		}
	}
	> .event-dialog {
		display: block;
		visibility: hidden;
		opacity: 0;
		@include transition-visibility;
		position: absolute;
		width: 300px + 2*$border-width;
		border: $border-green;
		border-radius: $border-width;
		background: rgba(white, 0.95);
		text-align: left;
		z-index: 1;
		box-shadow: $shadow-light;
		cursor: pointer;

		> .datetime {
			display: inline-block;
			margin: 0.25em 6px -0.25em;
		}
		> pgroup {
			margin: 0 auto 0.5rem;
			> p {
				line-height: $leading-tight;
			}
		}
		> .url {
			display: inline-block;
			background: $woc;
			width: 100%;
			padding: 8px 42px 8px 4px;

			&:not(.disabled):after {
				@include font-monospace;
				content: '→';
				display: inline-block;
				padding-left: 0.5em;
			}
		}
		> .button.close {
			display: inline-block;
			color: black;
			font-size: 1.5rem;
			background: #E0E0E0; // 88% grey
			position: absolute;
			right: 0;
			width: 42px;
			padding: 6px 0 10px;
			margin: 0;
			box-shadow: none;
			cursor: pointer;
		}
		.url, .button.close {
			vertical-align: top;
			line-height: 1.5rem;
			text-align: center;
		}
	} // end of event-dialog
	&.focus > .event-dialog {
		visibility: visible;
		opacity: 1;
	}
}

#one-time-purchases > .purchase-option,
#group-purchases > .purchase-option {
	position: relative;
	> .purchase-icon-wrapper {
		position: relative;
	}
	> .purchase-icon-wrapper > .purchase-icon {
		position: relative;
		&:before {
			@include info;
			display: block;
			position: absolute;
			top: 0.5rem;
			left: -0.25rem;
		}
	}
	&:hover > .purchase-icon-wrapper > .purchase-icon {
		&:before {
			@include info-highlighted;
		}
	}
	> .purchase-icon-wrapper > .purchase-detail {
		display: block;
		visibility: hidden;
		opacity: 0;
		@include transition-visibility;
		position: absolute;
		@include centering-hor;
		top: 0;
		width: 300px + 2*$border-width;
		height: 108px;
		border: $border-green;
		border-radius: $border-width;
		margin: 0 auto;
		padding: $border-width*1.5;
		background: rgba(white, 0.75);

		line-height: $leading-tight;
		text-align: left;

		> li {
			position: absolute;

			$gap: 6px;
			&.ma {
				bottom: $gap;
				@include centering-hor;
			}
			&.ct {
				top: 2rem;
				@include centering-hor;
			}
			&.to {
				right: 3rem;
				@include centering-ver;
			}
			&.fi {
				right: $gap;
				bottom: $gap;
			}
			&.ba {
				left: 2.75rem;
				top: 1.5rem;
			}
			&.br {
				left: $gap;
				bottom: $gap;
			}
			&.ke {
				right: $gap;
				top: $gap;
			}

			> span {
				display: inline-block;
				vertical-align: baseline;
				margin-right: 2px;
				&.four {
					padding: 0 4px;
				}
			}
		}
	}
	&.focus > .purchase-icon-wrapper > .purchase-detail {
		visibility: visible;
		opacity: 1;
	}
}
#group-purchases > .purchase-option {
	@include divider($border-gold, $gold-faint);
	padding: 1rem 0;

	> .purchase-icon-wrapper > .purchase-icon {
		height: 140px;
	}
	> .purchase-icon-wrapper > .four,
	> .purchase-icon-wrapper > .purchase-detail > li > .four {
		display: block;
		text-align: center;
		width: 2em;
		margin: 0 auto;
		line-height: 1.15;
	}
	> .purchase-icon-wrapper > .four {
		position: absolute;
		@include centering-both;
		opacity: 1;
		@include transition-opacity
	}
	&.focus > .purchase-icon-wrapper > .four {
		opacity: 0;
	}
	> .purchase-icon-wrapper > .purchase-detail {
		height: 140px;

		> li {
			&.ba {
				top: 1.75rem;
			}
			&.ct {
				top: 2.25rem;
			}
		}
	}
	> hgroup {
		margin-top: -0.25rem;
		margin-bottom: 0.25rem;
	}
}

#stickers {
	> .sticker {
		$width: 100px;
		display: inline-block;
		vertical-align: top;
		margin: 0.5rem 1rem;
		width: $width;

		> .sticker-example, > .sticker-name {
			display: block;
			cursor: pointer;
		}
		> .sticker-example {
			width: $width;
		}
		> .sticker-name {
			padding-top: 0.36em;
			margin-top: 0.25em;
		}
	}
}

.split-flap {
	> span:not(.focus) {
		display: none;
	}
}

#we-need-you {
	$kusa-height: 84px;
	height: 0;
	padding: 15% 0 $kusa-height;
	margin: 0;
	//@include background-gradient(top, rgba($woc, 0), rgba($woc, 0.25));
	background-image: url('../images/genkidama-kusa.gif'), url('../images/genkidama.png');
	background-size: 50px, 100%;
	background-position: center bottom, center top;
	background-repeat: no-repeat;
	background-color: rgba($woc, 0.25);

	> .wrapper {
		position: absolute;
		width: 100%;
		bottom: $kusa-height;
	}
	> .wrapper > #call {
		margin: 0;
	}
	> .wrapper > #why {
		margin: 1rem 0;
		cursor: pointer;
		&:after {
			@include info;
			margin: 0.125rem auto;
		}
		&:hover:after {
			@include info-highlighted;
		}
	}
}

.qa {
	position: relative;
	> .answer-wrapper {
		visibility: none;
		opacity: 0;
		@include transition-visibility;
		position: fixed;
		top: -2048%;
		left: 0;
		margin-top: $nav-height/2;
		z-index: 1;
	}
	&.focus > .answer-wrapper {
		visibility: visible;
		opacity: 1;
		@include centering-both;
	}

	> .answer-wrapper > .answer-dialog {
		display: block;
		width: 300px + 2*$border-width;
		border: $border-green;
		border-radius: $border-width;
		margin: 0 auto;
		background: rgba(white, 0.95);
		box-shadow: $shadow-light;

		> pgroup {
			margin: 0.5rem auto;
			> p {
				line-height: $leading-tight
			}
		}
	}
}

#engineer-note {
	max-width: 18rem;
	margin: 1.75rem auto;
	padding-bottom: 0.25rem;
	background: rgba(black, 0.125);
	> .bar {
		margin: 0;
		padding: 0.25rem;
		background: yellow;
		> .emoji-warning,
		> span {
			display: inline-block;
			vertical-align: middle;
		}
		> .emoji-warning {
			display: inline-block;
			width: 1.5rem;
		}
	}
	> .content {
		color: #555;
		margin: 0.125rem 0;
		> span {
			display: inline-block;
			&.info {
				margin: 0 0.125rem;
				&:after {
					@include info;
					display: inline-block;
					opacity: 0.5;
				}
			}
		}
	}
}
