.body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;;
}
.navbar-default {
  background-color: rgba(250,250,250,1) !important;
  border-color: #e7e7e7;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;;
  box-shadow: 1px 1px 0 0 rgba(0,0,0,0.08);
}
.navbar-default .menu_item a:hover {
  background: rgba(0,0,0,.8) !important;	
  color: #fff !important;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
        	box-shadow: none;
}
.navbar-collapse {
  width: 100vw;
  text-align: center;
}
@media all and (min-width: 767px){
  .navbar-collapse {
    float: right;
    width: auto;
  }
}
.navbar-default .navbar-nav > li > a {
    color: #3D3939;
}
.logo_short {
  margin-right: 80px;
}
.logo_long {
  margin-right: 30px;
}
.coverImgMobile {
  width: 100%;
  margin-top: 40px;
}
.coverImgWeb {
  display: none;
}
@media all and (min-width: 400px){
  .coverImgMobile{
      display: none;
  }
  .coverImgWeb {
      width: 100%;
      margin-top: 80px;
      display: block;
  }
}
.page {
  display: block; 
  width: 100%;
  min-height: 600px;
}
h2.title {
  text-align: center;
  font-size: 40px;
}
.innerWrapper {
  max-width: 800px;
  margin: 0 10px;
}
@media all and (min-width: 400px){
  .innerWrapper {
    margin: 0 auto;
  }
}
.web_only {
  display: none;
}
@media all and (min-width: 400px){
  .web_only {
    display: block;
  }
}
hr.divider {
  margin: 80px 5% 60px 5%;
  border-bottom: 1px solid #C3BBBB;
}
hr.transparent_divider {
  margin: 80px 0 0 0 ;
}
p {
  margin-bottom: 30px;
}
.slogan {
  text-align: left;
  font-size: 18px;
  margin: 30px 20px 20px 20px;
  padding: 20px;
  color: white;
}
@media all and (min-width: 400px){
  .slogan{
    text-align: center;
  }
}
.content{
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 100px;
  padding: 0 20px;
}
.contentLeft {
  margin: 0 20px;   
}
.contentRight {
  margin-top: 30px;
}
@media all and (min-width: 500px){
    .contentLeft {
        width: 200px;
        float: left;
    }
    .contentRight {
        margin-left: 250px;
        vertical-align: top;
    }
}
.linkSection {
  text-align: center;
  margin-top: 40px;
}
@media all and (min-width: 500px){
  .linkSection {
    text-align: left;
  }
}
a.link, a.link:visited {
  padding: 10px 30px;
  text-decoration: none;
  box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.12);
  cursor: pointer;
}
@media all and (min-width: 500px){
  a.link, a.link:visited {
    padding: 8px 10px; 
  }
}
a.link:hover {
  box-shadow: 2px 3px 3px 0 rgba(0,0,0,0.22);
  color: white;
}

/* --------------------------------------------------------------------------------- */
/* about */
.about_title {
  color: #E5A24A;
}
.about_slogan {
  background: #E5A24A;
}
/* --------------------------------------------------------------------------------- */
/* project */
.projects_title {
  margin-bottom: 80px;
}
.musouImg {
  width: 100%;
}
@media all and (min-width: 500px){
  .musouImg {
    margin: 20px 0 0 0;
  }
}
h3.project_title {
  line-height: 1.6;
}
p.project {
  margin: 20px auto;
}
a.musou_link, a.musou_link:visited {
  background: #921F2D;
  color: white;
}
.citizeneduImg {
  width: 100%;
}
@media all and (min-width: 500px){
  .citizeneduImg {
    margin-top: 8px;
  } 
}
.citizenedu_link, .citizenedu_link:visited {
  background: #8EC448;
  color: white;
}
.wevoteImg {
  width: 100%;
}
.wevote_link, .wevote_link:visited {
  background: #29ABE2;
  color: white;
}
.asktaiwanImg {
  width: 100%;
  margin-top: 10px;
}
.asktaiwan_link, .asktaiwan_link:visited {
  background: #4F9DA4;
  color: white;
}
.askImg {
  width: 100%;
  margin-top: 10px;
}
.ask_link, .ask_link:visited {
  background: #62C3CC;
  color: white;
}


/* --------------------------------------------------------------------------------- */
/* team */
.team_title {
  color: #8DD3C7;
}
.team_slogan {
  background: #8DD3C7;
  position: relative;
}
.team_slogan:after {
    content: '';
    border-top: 30px solid #8DD3C7;
    border-left: 20px solid transparent;
    border-right: 0px solid transparent;
    position: absolute;
    bottom: -30px;
    left: 40%;
    height: 10px;
    width: 20px; 
}
@media all and (min-width: 500px){
 .team_slogan:after {
    border-top: 55px solid #8DD3C7;
    border-left: 30px solid transparent;
    border-right: 0px solid transparent;
    height: 60px;
    bottom: -60px;
  }
}
.member_slot {
  background: rgba(255,255,255,0.9)!important;
  margin: 8px 0;
  padding: 8px;
  border: 2px solid gray;
  vertical-align: top;
  cursor: pointer;
  font-size: 14px;
}
@media all and (min-width: 500px){
  .member_slot {
      display: inline-block;
      width: 170px;
      height: 160px;
      margin: 8px;
  }

}
.member_slot:hover, .member_slot.last {
  border: 3px solid #8dd3c7;
}
.member_slot h3 {
  margin: 10px 1px;
}
.watchout_team_img {
  width: 100%;
}

/*-----------------------------------------------------------------------*/
/* contact & footer */
.contact_page {
  background: #8dd3c7;
  color: white;
  padding-top: 150px;
  text-align: center;
}
.contactSection {
  background: #8DD3C7; 
  display: inline-block;
  margin: 0 auto 10px auto;
  padding: 0 8px;
  transform: rotate(-1deg);
  -webkit-transform: rotate(-1deg); /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
      -ms-transform: rotate(-1deg); /* IE 9 */
}
a.contact_link, a.contact_link:visited {
  color: #333333;
  font-size: 14px;
  cursor: pointer;
}
.fb-wrap {
  margin: 0 8px 0 6px;
}
#footer{
  padding: 30px;
  font-size: 14px;
  text-align: center;
}
.copyright {
  background: #141823;
  color: white;
  display: inline-block;
  margin: 10px auto;
  padding: 0 8px;
  transform: rotate(1deg);
  -webkit-transform: rotate(1deg); /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
      -ms-transform: rotate(1deg); /* IE 9 */

}
