

.body{
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.navbar-default {
  background-color: rgba(255,255,255,.8) !important;
  border-color: #e7e7e7;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.navbar-default .menu_item a:hover {
  	background: rgba(0,0,0,.8) !important;	
  	color: #fff !important;
  	-webkit-box-shadow: none;
       -moz-box-shadow: none;
          	box-shadow: none;
}
.navbar-collapse{
  float: right;

}



}
#products_page{
  width:100%;

}
#team_page{
  width:100%;
}



/* ================================= new ============================================= */

.page{
display:block; 

}


/* --------------------------------------------------------------------------------- */
/* member */

.face {
border-radius: 100%;

}

#team_page_slogan{
  text-align: center;
  font-size: 14px;
  padding-bottom: 20px;
  border-bottom: 2px solid gray;
  
}

#team_page_content{
  width:100%;
  margin-left: auto;
  margin-right: auto;
}

.team_circle{
  width:200px;
  height:20px;
  
}
.team_item{
  display: inline-block;
  margin-right: 5px;
}

.team_circleborder {
border: 3px solid #8dd3c7;
padding:3px;
border-radius: 100%;
background:#8dd3c7;
float:left;
color: white;
  font-size: 20px;
}

.team_count{
  width:30px;
  height: 30px;
  text-align: center;
}

.member_slot_collection{
  width:100%;
  margin-left: auto;
  margin-right: auto;
}
.member_slot{
  
  width:100%;
  padding-top: 1px;
  padding-right: 8px;
  padding-left: 8px;
  border-bottom: 2px solid gray;
  font-size: 12px;

}
.member_slot h3{
  font-size:16px;

}
.member_slot_fill{
  background: rgba(141,211,199,0.6)!important;

}
#member_slot_end{
  padding-top: 10px;
  padding-bottom: 20px;
}
.member_photo_collection{
  margin-top: 10px;
  width:85%;
  display: block;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;

}
.member_photo{
  display: inline-block;
  height:90px;
  width:70px;
  margin-right: 8px;
  margin-top:8px;
  cursor: pointer;
  font-size: 11px;
  position: relative;
  text-align: center;
  
}
.member_name{
  color:black;
  position: absolute;
  /*top:46px;*/ /*lower botoom*/
  top:-18px;/*below*/
  background: rgba(255,255,255,0.8);
  margin-left: 8px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  width:56px;
  
}

.circleborder {
border: 3px solid #8dd3c7;
padding:3px;
border-radius: 100%;
display: inline-block;
background: white;
margin-right: 10px;
float:left;

}
.circleborder:hover {
border: 3px solid #FFF800;
padding:3px;
border-radius: 100%;
display: inline-block;
background: white;
margin-right: 10px;
float:left;

}

#members_voice_dispaly{
  text-align: center;
  width: 100%;
  height:40px;
  margin-left: auto;
  margin-right: auto;
}
.tape{
  display: none;
}



/*-----------------------------------------------------------------------*/
/* products */
 #products_page{
 
 }
.product_slogan{
  
  margin-bottom: 20px;
  margin-left:15px;
  margin-right:15px;
  font-size: 14px;
  
}
.product_subtitle{
  font-size: 16px;
  background: rgba(0,0,0,0.1) !important;
  display: inline-block;
  padding: 5px;
  margin-bottom: 10px;

}
 #products_content{
  margin-left: auto;
  margin-right: auto;
  width:100%;
  
 }
 .products_item{
  border: 1px solid #d3d3d3;
  border-radius: 2%;
  margin-left: auto;
  margin-right: auto;
  
 }
 .products_section_main{
  width:100%;
  margin-top:10px;
  padding: 15px;

 }
 .products_section_main p{
  padding:2px;
 }
 .products_section_sub{
  width:95%;
  margin-top: 15px;
  float:right;

 }
 #go_to_cm_mobile{
  margin-top:50px;
  
 }
 #go_to_cm_mobile a{
  color:#880010;
 }
.products_section_sub img{
    margin-right:15px;
    margin-top:10px;
    cursor:pointer;
}
.products_display{
  height:10px;

}
 .products_info{
  display:none;
 }
 #mobile_cm_logo{
  margin-bottom: 15px;
 }
 .products_name{
  display: inline;
 }
 .product_name_highlight{

  display: inline;
  padding:5px;

 }
 .products_section_part{
  width:38px;
  height:38px;
  float:left;
  margin-top:6px;
  margin-right:6px;
  background: #880010;
  font-size: 12px;
  text-align: center;
  color:white;
  padding:3px;
  cursor: pointer;
 }
 .products_section_part:hover{
  background: #BF3030;/* #FF4040; */
 }


/*-----------------------------------------------------------------------*/

#about_page{
  
  width: 100%;
}

#blanket {
background-color:#111;
opacity: 0.85;
filter:alpha(opacity=85);
position:absolute;
z-index: 9001;
top:0px;
left:0px;
width:100%;
height:800px;
}
#popUpDiv {
position:absolute;
/*background-color:#eeeeee;*/
width:400px;
height:300px;
z-index: 9002;
}
#close_film{
  margin-right:5px;
  margin-bottom: 3px;
  float:right;
  color:white;
}
#close_film:hover, #close_film:visited{
  color:white;
}

.about_slogan{
  
  text-align: center;
  font-size: 16px;
  height:110px;
  margin-left: auto;
  margin-right: auto;
  background: #d3d3d3;
  padding-top:15px;
  border-radius:15px;
   
}
#about_content{
  
  width:100%;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;

}
#about_content_main{
  width:100%;
}
#about_content_sub{

  text-align: center;
  width:80%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  color:white;
}
#about_content_sub h3{
  padding:8px;
}
.about_content_sub_title{
  margin-left:15px;
  background: rgba(0,0,0,0.8) !important;
}

#story0 p{

  padding-top:10px;
  
}


/*-----------------------------------------------------------------------*/
#logo{
  cursor: pointer;
}


.featurette-divider{
  border: 1px solid #d3d3d3;
  width:90%;
  margin-left: auto;
  margin-right: auto;
  margin-top:10px;
  margin-bottom: 30px;

}

/*-----------------------------------------------------------------------*/
/* contact */

#contact_content{
  height:350px;
}
#contact_text{

  margin-left: auto;
  margin-right: auto;
  width:100%;
  background: rgba(255,255,255,0.35) !important;
  padding:15px;
  border: 2px #fff solid;

}
#contact_page{
  width:100%;
  font-family: Cabin;

}

#contact_page a{ 
  color: #616C6B;
}
#contact_page a:hover{ 
  color: yellow;
  text-decoration: none;
}
#contact_page{
  background: #8dd3c7;
 
}
#contact{
  border: 1px solid #8dd3c7;
  
}
#footer{
  
  padding-top: 40px;
  text-align: center;
}
/*-----------------------------------------------------------------------*/
/* map */
#map { 

  height: 350px; 
}
#map a,#map a:visited{
  text-decoration: none;
  color:black;
}
#map a:hover{
  color:blue;
}
.web_only{
  display: none;
}
.mobile_title{
  margin-bottom: 20px;
  border-bottom: 2px solid gray;
  display: inline-block;
}
