@import 'wormhole/variables';
@import 'wormhole/responsive';
@import 'wormhole/typography';
@import 'wormhole/common';

table {
  h1, h2, h3, h4, h5, h6 {
    text-align: left;
  }
}
header {
  > p {
    text-align: center;
  }
}
#title {
  > ul > li {
    display: block;
    text-align: center;
  }
}
h1, h2 {
  font-size: 2.25rem;
}
h1.short {
  font-size: 4.5rem;
}
h4 {
  font-size: 1.375rem;
  padding-left: 0;
}
h5.regular {
  @include font-body;
  padding: 0.5rem 0;
  > span.underlined.edu {
    display: inline-block;
    padding: 0 6px;
    border-bottom: 6px solid $color-edu;
    margin-bottom: 6px;
  }
}
.pgroup {
  width: 18*$rem;
}
.authors {
  line-height: $leading-tight;
}

header {
  > p {
    margin: 0;
  }
}
body > section {
  &#cover {
  }
  &#title {
    > #title-image {
      display: block;
      width: 286px;
      height: 160px;
      margin: 0 auto;
      padding: 0;
    }
  }
  &#support {
  }
}
body > section#sm,
body > footer,
body > section#sm + footer {
  margin: 0;
  padding: 0;
}

.span {
  width: 100%;
  max-width: $X;
  margin: 0 auto;
}

$logo-size: 24px;
.channel {
  > .logo {
    display: block;
    width: $logo-size;
    height: $logo-size;
    margin: 0 auto;
    background-size: cover;
  } // 0
  > .divider {
    position: relative;
    height: $logo-size;
    tr, td {
      height: 24px;
    }
    .logo {
      width: $logo-size;
      > img {
        display: block;
        width: $logo-size;
        height: $logo-size;
      }
    }
    .text {
      text-align: center;
      line-height: $logo-size;
    }
  }
  > h2 {
    margin-top: 0.5rem;
  }
  $thumbnail-size: 128px;
  > .list {
    display: block;
    max-width: 36*$rem;
    margin: 0 auto;
    .thumbnail {
      padding-right: 0.5rem;
      img {
        width: $thumbnail-size;
      }
    }
    td {
      vertical-align: top;
    }
  }

  &#musou {
    > .divider {
      background: rgba($color-musou, 0.25);
    }
  }
  &#not-artist {
    > .divider {
      background: $color-not-artist;
    }
  }
  &#edu {
    > .divider {
      background: rgba($color-edu, 0.25);
    }
  }
  &#vendor {
    > .divider {
      background: rgba($color-vendor, 0.25);
    }
  }
}
.spacer {
  width: 100%;
  height: 3rem;

  &.short {
    height: 2rem;
  }
}

.pgroup {
  margin: 0.5rem auto;
}

#catalogue {
  > h1 {
    margin: 0.5rem 0;
  }
  > table {
    //width: $logo-size + $rem*8.25;
    margin: 0 auto;
    border-spacing: 0.25rem;
    td {
      padding: 0;
    }
    .logo > img {
      display: block;
      width: 24px;
      height: 24px;
      margin-right: 0.25rem;
    } // 1
    .text {
      width: 8rem;
      line-height: 24px;
    }
  }
}

#volume {
  width: 100%;
  padding: 0.25rem;
  background: rgba($woc, 0.25);
  line-height: $leading-tight;

  .info {
    text-align: right;
  }
}
#caobao {
  display: block;
  width: 109px;
}

#monthly-payments,
#one-time-purchases {
  > .option > .icons {
    display: block;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
  }
}
#monthly-payments > .option {
  margin-bottom: 4rem;
}
#one-time-purchases > .option {
  margin-bottom: 2rem;
}
.multiplier {
  display: inline-block;
  margin: 0.125rem;
  padding: 0.25rem;
  @include font-grotesque;
  font-size: 1.25rem;
  line-height: 1;
  background: black;
  color: white;
}

.pop {
	margin: 0 0 2rem;
}
