@font-face {
  font-family: 'century-std';
  src: url('CenturyStd-Bold.eot?#iefix') format('embedded-opentype'),
    url('CenturyStd-Bold.otf')  format('opentype'),
    url('CenturyStd-Bold.woff') format('woff'),
    url('CenturyStd-Bold.ttf')  format('truetype'),
    url('CenturyStd-Bold.svg#CenturyStd-Bold') format('svg');
  font-weight: 900;
  font-style: normal;
}
