@charset "UTF-8";
* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

html, body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang TC", "Noto Sans CJK TC", "微軟正黑體", sans-serif;
  font-size: 16px; }

h1, h2, h3, h4, h5, p, ul, li, table, tr, td {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 4.5rem; }

h2 {
  font-size: 2.25rem; }

h3 {
  font-size: 1.375rem; }

h1, h2 {
  line-height: 1.1;
  margin-top: 1rem;
  margin-bottom: 1rem; }

h1, h2, p {
  max-width: 18rem;
  margin-left: auto;
  margin-right: auto; }

h5 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0.25rem 0; }

p {
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 1rem; }

img {
  display: block; }

ul {
  list-style: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

.logo {
  width: 1.5rem;
  height: 1.5rem; }

.thumbnail {
  width: 8rem;
  height: 8rem; }

td.image-before-text {
  padding-right: 0.25rem; }

.theater {
  width: 100%; }
  .theater > img,
  .theater > a > img {
    width: 100%;
    max-width: 60rem;
    margin: 0 auto; }
  .theater[orientation="portrait"] > img,
  .theater[orientation="portrait"] > a > img {
    max-width: 40rem; }

#header {
  padding: 0.5rem;
  background-color: rgba(80, 227, 194, 0.25); }
  #header > table {
    width: 100%; }

#caobao {
  width: 109px; }

#issue {
  text-align: right; }

#toc {
  margin: 0 auto; }

#web-link {
  padding: 0.25rem 0;
  text-align: center;
  background-color: rgba(80, 227, 194, 0.25); }

section > .header {
  width: 100%; }
section#cover {
  background-color: rgba(80, 227, 194, 0.25); }
section#musou > .header {
  background-color: rgba(255, 83, 104, 0.25); }
section#edu > .header {
  background-color: rgba(183, 246, 97, 0.25); }
section#maa > .header {
  background-color: #F5F5F5; }
section#maa > .images {
  margin-top: 1rem; }
section#vendor {
  background-image: url(../asset/vendor/bg.png);
  background-size: 1rem 100%;
  background-repeat: repeat-x; }
  section#vendor > .header {
    background-color: rgba(248, 232, 28, 0.25); }

.spacer {
  height: 4rem; }
  .spacer.half {
    height: 2rem; }

.articles {
  width: 100%;
  max-width: 30.25rem;
  margin: 0 auto; }
  .articles td {
    vertical-align: top; }
    .articles td.text {
      padding-bottom: 0.5rem; }

.images {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }
  .images img {
    border: 0.25rem black solid;
    border-radius: 0.125rem; }

.product {
  max-width: 30rem;
  margin: 0 auto; }
  .product > img {
    width: 100%; }
  .product > .name {
    display: block;
    margin: 0.25rem 0;
    text-align: center; }

.button {
  box-sizing: content-box;
  display: block;
  padding: 10px 12px;
  margin: 0 auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  width: 4em;
  text-align: center; }
  .button.purchase {
    background: rgba(248, 232, 28, 0.75);
    color: #F5A623; }

footer img {
  margin: 0 auto; }
footer > .green {
  background-image: url(../asset/footer/grass/bg.png);
  background-size: 1rem 100%;
  background-repeat: repeat-x; }
footer > .soil > .light {
  background: #bd7260; }
footer > .soil > .dark {
  background: #8c4533; }
footer > .soil > .deep {
  background: #434343;
  color: white; }
  footer > .soil > .deep > .social {
    margin: 0 auto;
    text-align: center; }
    footer > .soil > .deep > .social td {
      vertical-align: top;
      padding: 0.5rem; }
    footer > .soil > .deep > .social .type {
      width: 1.625rem;
      margin-bottom: 0.25rem; }
    footer > .soil > .deep > .social .thumbnail {
      width: 5.625rem;
      height: auto; }
  footer > .soil > .deep > .cluster {
    margin: 0 auto; }
    footer > .soil > .deep > .cluster td {
      vertical-align: top;
      padding: 1rem; }
    footer > .soil > .deep > .cluster li {
      opacity: 0.75; }

/*# sourceMappingURL=style.css.map */
