// sass -I ../scss --watch scss:css
@import 'variables';
@import 'responsive';
@import 'susy';
$susy: (
  columns: 12,
  gutters: 1/3,
  gutter-position: split,
  container: $max-width,
);

.work-items {
	@include container();
  > li {
    @include span(4);
  }
}
