@import '../../scss/variables';
@import '../../scss/responsive';
@import '../../scss/susy';
$susy: (
  columns: 12,
  gutters: 1/3,
  gutter-position: split,
  container: $max-width,
);

.work-items {
	@include container();
  > li {
    @include span(4);
  }
}
