@font-face {
  font-family: 'century-std';
  src: url('CenturyStd-Bold.eot?#iefix') format('embedded-opentype'),
    url('CenturyStd-Bold.otf')  format('opentype'),
    url('CenturyStd-Bold.woff') format('woff'),
    url('CenturyStd-Bold.ttf')  format('truetype'),
    url('CenturyStd-Bold.svg#CenturyStd-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'century-std';
  src: url('CenturyStd-Book.eot?#iefix') format('embedded-opentype'),
    url('CenturyStd-Book.otf')  format('opentype'),
    url('CenturyStd-Book.woff') format('woff'),
    url('CenturyStd-Book.ttf')  format('truetype'),
    url('CenturyStd-Book.svg#CenturyStd-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'century-std';
  src: url('CenturyStd-BookItalic.eot?#iefix') format('embedded-opentype'),
    url('CenturyStd-BookItalic.otf')  format('opentype'),
    url('CenturyStd-BookItalic.woff') format('woff'),
    url('CenturyStd-BookItalic.ttf')  format('truetype'),
    url('CenturyStd-BookItalic.svg#CenturyStd-Bold') format('svg');
  font-weight: normal;
  font-style: italic;
}
