$color-watchout: #50E3C2;
$color-ask: #4DEBDF;
$color-musou: #FF5368;
$color-edu: #B7F661;
$color-vendor: #F8E81C;
$color-maa: #F5F5F5;

$color-soil-light: #bd7260;
$color-soil-dark: #8c4533;
$color-soil-deep: #434343;

$font-latin: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial;
$font-tw: "PingFang TC", "Noto Sans CJK TC", "微軟正黑體";
$font: $font-latin, $font-tw, sans-serif;

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: $font;
  font-size: 16px;
}
h1, h2, h3, h4, h5, p, ul, li, table, tr, td {
  margin: 0;
  padding: 0;
}
// td { padding: 0 } instead of <table border="0" cellpadding="0" cellspacing="0">
h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 2.25rem;
}
h3 {
  font-size: 1.375rem;
}
h1, h2 {
  line-height: 1.1;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
h1, h2, p {
  max-width: 18rem;
  margin-left: auto;
  margin-right: auto;
}
h5 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0.25rem 0;
}
p {
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
img {
  display: block;
}
ul {
  list-style: none;
}
table {
	border-spacing: 0;
  border-collapse: collapse;
}
.logo {
  width: 1.5rem;
  height: 1.5rem;
}
.thumbnail {
  width: 8rem;
  height: 8rem;
}
td {
  &.image-before-text {
    padding-right: 0.25rem;
  }
}
.theater {
  width: 100%;
  > img,
  > a > img {
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
  }
  &[orientation="portrait"] {
    > img,
    > a > img {
      max-width: 40rem;
    }
  }
}
#header {
  padding: 0.5rem;
  background-color: rgba($color-watchout, 0.25);
  > table {
    width: 100%;
  }
}
#caobao {
  width: 109px;
}
#issue {
  text-align: right;
}
#toc {
  margin: 0 auto;
}
#permalink {
  padding: 0.25rem 0;
  text-align: center;
  background-color: rgba($color-watchout, 0.25);
}
section {
  > .header {
    width: 100%;
  }
  &#cover {
    background-color: rgba($color-watchout, 0.25);
  }
  &#musou {
    > .header {
      background-color: rgba($color-musou, 0.25);
    }
  }
  &#edu {
    > .header {
      background-color: rgba($color-edu, 0.25);
    }
  }
  &#ask {
    > .header {
      background-color: rgba($color-ask, 0.25);
    }
  }
  &#lab {
    > .header {
      background-color: rgba($color-watchout, 0.25);
    }
  }
  &#maa {
    > .header {
      background-color: $color-maa;
    }
    > .images {
      margin-top: 1rem;
    }
  }
  &#vendor {
    background-image: url(https://watchout.tw/news-template/asset/vendor/bg.png);
    background-size: 1rem 100%;
    background-repeat: repeat-x;

    > .header {
      background-color: rgba($color-vendor, 0.25);
    }
  }
}
.spacer {
  height: 4rem;
  &.half {
    height: 2rem;
  }
}
.articles {
  width: 100%;
  max-width: 30.25rem;
  margin: 0 auto;
  td {
    vertical-align: top;
    &.text {
      padding-bottom: 0.5rem;
    }
  }
}
.images {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  img {
    border: 0.25rem black solid;
    border-radius: 0.125rem;
  }
}
.product {
  max-width: 30rem;
  margin: 1rem auto;
  > img {
    width: 100%;
  }
  > .name {
    display: block;
    margin: 0.25rem 0;
    text-align: center;
  }
}
.button {
  box-sizing: content-box;
  display: block;
  padding: 10px 12px;
  margin: 0 auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  width: 4em;
  text-align: center;

  &.purchase {
    background: rgba($color-vendor, 0.75);
    color: #F5A623;
  }
}
footer {
  img {
    margin: 0 auto;
  }
  > .green {
    background-image: url(https://watchout.tw/news-template/asset/footer/grass/bg.png);
    background-size: 1rem 100%;
    background-repeat: repeat-x;
  }
  > .soil {
    > .light {
      background: $color-soil-light;
    }
    > .dark {
      background: $color-soil-dark;
    }
    > .deep {
      background: $color-soil-deep;
      > .social {
        margin: 0 auto;
        text-align: center;
        td {
          vertical-align: top;
          padding: 0.5rem;
        }
        .type {
          width: 1.625rem;
          margin-bottom: 0.25rem;
        }
        .thumbnail {
          width: 5.625rem;
          height: auto;
        }
      }
      > .cluster {
        margin: 0 auto;
        td {
          vertical-align: top;
          padding: 1rem;
        }
        li {
          opacity: 0.75;
        }
      }
      h5, a {
        color: white;
      }
    }
  }
}
