@mixin screen-gt-M { // M and up
	@media (min-width: 481px) { @content; }
}
@mixin screen-M-L { // M to L
  @media (min-width: 481px) and (max-width: 768px) { @content; }
}
@mixin screen-gt-L { // L and up
  @media (min-width: 769px) { @content; }
}
@mixin screen-M-X { // M to X
	@media (min-width: 481px) and (max-width: 960px) { @content; }
}
@mixin screen-gt-X { // X and up
	@media (min-width: 961px) { @content; }
}

[screen="gt-M"] {
  display: none !important;
}
@include screen-gt-M {
  [screen="gt-M"] {
    display: inherit !important;
  }
  [screen="S"] {
    display: none !important;
  }
}

[screen="gt-L"] {
	display: none !important;
}
@include screen-gt-L {
	[screen="gt-L"] {
		display: inherit !important;
	}
	[screen="S-L"] {
		display: none !important;
	}
}
