@mixin medium-and-large-screen {
	@media (min-width: 481px) {
		@content;
	}
}
@mixin medium-screen {
  @media (min-width: 481px) and (max-width: 768px) {
    @content;
  }
}
@mixin large-screen {
  @media (min-width: 769px) {
    @content;
  }
}

.medium-and-large-screen {
  display: none !important;
}
@include medium-and-large-screen {
  .medium-and-large-screen {
    display: inherit !important;
  }
  .small-screen {
    display: none !important;
  }
}
