@mixin M-L-screen {
	@media (min-width: 481px) {
		@content;
	}
}
@mixin M-screen {
  @media (min-width: 481px) and (max-width: 768px) {
    @content;
  }
}
@mixin L-screen {
  @media (min-width: 769px) {
    @content;
  }
}

.M-L-screen {
  display: none !important;
}
@include M-L-screen {
  .M-L-screen {
    display: inherit !important;
  }
  .S-screen {
    display: none !important;
  }
}
