@import 'variables';

@mixin font-body {
  font-family: $font-body;
  font-weight: 400;
}
@mixin font-body-bold {
  font-family: $font-body;
  font-weight: 700;
}
@mixin font-mincho {
  font-family: $font-mincho;
  font-weight: 900;
}
@mixin font-strong {
  font-family: $font-strong;
  font-weight: 700;
}
@mixin font-grotesque {
  font-family: $font-grotesque;
  font-weight: 900;
}
@mixin font-monospace {
  font-family: $font-monospace;
  font-weight: 400 !important; // no bold
}

html, body {
	font-size: 16px;
	@include font-body;
	margin: 0;
	padding: 0;
  line-height: $leading-normal;
  text-align: center;
}
a {
	text-decoration: none;
  &, &:visited {
    color: blue;
  }
  &:active {
    color: $red;
  }
}
h1, h2, h3, h4 {
	list-style: none;
	@include font-mincho;
  margin: 0;
  padding-top: 0.36em; // shift baseline down
}
h1 {
	font-size: 4.8rem;
  line-height: 1;
  @include screen-gt-M {
    font-size: 6rem;
  }
}
h2 {
	font-size: 3rem;
  line-height: 1.1667;
}
h3 {
	font-size: 2rem;
  line-height: 1;
}
h4 {
	font-size: 1.125rem;
  line-height: 1.3333;
}
h3 + h4 {
  margin-top: 0.25rem;
}
h5 {
  font-size: 1rem;
  line-height: $leading-normal;
  @include font-body;
  margin: 0;
}
span.italic {
	font-style: italic;
}
span.underline {
	display: inline-block;
  line-height: 1.25em;
	border-bottom: 3px solid black;
}
span.emphasize {
  @include font-mincho;
}
span.fixed-width-center {
  display: inline-block;
  width: 5em;
  text-align: center;
  letter-spacing: 0.25;
}
.emoji {
  font-family: sans-serif;
  font-weight: 400;
}
.code,
.close,
.url {
  @include font-monospace;
}
.url.disabled {
  font-family: $font-body;
}
.number {
  position: relative;
  @include font-grotesque;
  font-size: 5.25rem;
  line-height: 1em;
  word-wrap: break-word;
  @include screen-gt-M {
    font-size: 8.5rem;
  }

  &.small {
    font-size: 4rem;
    @include screen-gt-M {
      font-size: 4.5rem;
    }
  }
  &.tiny {
    font-size: 3rem;
  }
  > .tw {
    font-size: 0.9em;
  }

  @each $unit in (篇 筆 則 場) {
    &.unit[unit="#{$unit}"]:after { content: '#{$unit}'; }
  }
  &.unit:after {
  	display: block;
    position: absolute;
    left: 100%;
    top: 56%;
    font-size: 0.8125rem;
    @include font-body;
    line-height: 1;
    margin: 0;
    padding: 0;
    padding-left: 2px;
    @include transform(translateY(-50%));
  }
}

pgroup {
  display: block;
  width: 18em;
  margin: 1rem auto;
  text-align: left;

  > p {
    margin: $leading-normal*1em auto;
  }
  > p:first-child {
    margin-top: 0;
  }
  > p:last-child {
    margin-bottom: 0;
  }
}

.single {
  line-height: 1em;
}
.button, .prompt, badge {
  @include font-body-bold;
  font-size: 1.125rem; // 18px
  line-height: 1em;
}
.support-button {
  @include font-grotesque;
  font-size: 2.25rem; // 36px
  line-height: 1em;
}
badge, .line, .support-button {
  line-height: 1.22222222em;
}

.call {
  @include background-gradient(top, rgba($woc, 0), rgba($woc, 0.25));
  color: rgba($woc, 0.75);
  @include font-mincho;
  font-size: 1.375rem;
  line-height: 1;

  > .you {
    color: $woc;
    display: inline-block;
    border-bottom: $border-green;
  }
}

// custom line break
.custom-line-break > .line {
  display: block;
  @include screen-gt-M {
    &:not(.always) {
      display: inline;
    }
    &:not(:last-child) {
      //margin-right: 0.125em;
    }
  }
}
.custom-line-break > .hide {
  display: none;
  @include screen-gt-M {
    display: inline;
  }
}
.custom-line-break > .line + .hide {
  margin-left: -0.125em;
}
@include screen-gt-L {
  .custom-line-break-reverse > .line {
    display: block;
  }
  .custom-line-break-reverse > .hide {
    display: none;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.option-title {
  font-family: $font-strong;
  font-size: 1.5rem;
  font-weight: 700;
}
.note {
  font-size: 0.8125rem;
  line-height: 1.3846153846em;
  color: $grey;
  margin: 0;
}
.datetime {
  @include font-mincho;
}
.tight {
  line-height: $leading-tight;
}

.tagline {
  @include font-mincho;
  line-height: $leading-tight;
}
.datetime.year {
  @include font-mincho;
  font-size: 1.5rem;
  line-height: 1;
  color: $woc;
}
.larger {
  @include font-strong;
  font-size: 1.5rem;
  margin: 1.75rem 0;
}

#copyright > .line {
  line-height: $leading-tight;
}

.four {
  background: black;
  color: white;
  font-size: 0.8125rem;
  @include font-grotesque;
}
.four.big {
  font-size: 3rem;
}

.sticker-name {
  color: $woc;
  font-size: 1.125rem;
  @include font-mincho;
  line-height: 1;
}

@mixin info {
	content: 'i';
  display: block;
	@include font-grotesque;
	font-size: 1rem;
	line-height: 1;
	text-align: center;
	width: 1rem;
	height: 1rem;
	padding: 0;
	overflow: hidden;
	opacity: 0.25;
	border: 2px solid black;
	border-radius: 100%;
}
