// colors
$woc: #50E3C2;
$gold: #F8E71C;
$orange: #F5A623;
$grey: #9B9B9B;

// typography
$rem: 16px;

$bodyText: "Helvetica Neue", "Helvetica", "xin-gothic-tc", "PingFang TC", sans-serif;
$leadingNormal: 1.75;
$leadingTight: 1.375;

//$mincho: "century-std", "ja-extension", "heisei-mincho-std", sans-serif;
$mincho: "century-std", "kozuka-mincho-pr6n", "Kozuka Mincho Pr6N", sans-serif;
$monospace: "akkurat-mono", monospace;
$grotesque: "circular-pro", "xin-gothic-tc", "PingFang TC", sans-serif;
