// colors
$woc: #50E3C2;
$gold: #F8E71C;
$orange: #F5A623;
$grey: #9B9B9B;

// typography
$rem: 16px;

$font-body: "Helvetica Neue", "Helvetica", "Arial", "xin-gothic-tc", "PingFang TC", "微軟正黑體", sans-serif;
$leading-normal: 1.75;
$leading-tight: 1.375;

$font-mincho: "century-std", "kozuka-mincho-pr6n", "Kozuka Mincho Pr6N", sans-serif;
$font-monospace: "akkurat-mono", monospace;
$font-strong: "circular-pro", "xin-gothic-tc", "PingFang TC", sans-serif;
$font-grotesque: "circular-pro", "source-han-sans-tc", sans-serif;

// layout & unified style elements
$max-width: 960px;

$nav-height: 65px;
$gold-faint: rgba($gold, 0.25);
$gold-light: rgba($gold, 0.75);
$gold-dark: rgba($gold, 0.85);
$gold-almost: rgba($gold, 0.95);
$shadow-light: 0 2px 4px 0 rgba(black, 0.25);
$shadow-dark: 0 2px 4px 0 rgba(black, 0.35);
$border-width: 4px;
$border-green: $border-width solid $woc;
$border-gold: $border-width solid $gold;

@mixin transform($attr) {
	-webkit-transform: $attr;
	transform: $attr;
}
@mixin background-gradient($dir, $from, $to) {
	background: -webkit-linear-gradient($dir, $from, $to); // Safari 5.1, Chrome 10+
	background: -moz-linear-gradient($dir, $from, $to); // Firefox 3.6+
	background: -ms-linear-gradient($dir, $from, $to); // IE 10
	background: -o-linear-gradient($dir, $from, $to); // Opera 11.10+
	background: linear-gradient(from $dir, $from, $to);
}
