// colors
$woc: #50E3C2;
$gold: #F8E71C;
$orange: #F5A623;
$grey: #9B9B9B;

// typography
$rem: 16px;

$bodyText: "Helvetica Neue", "Helvetica", "Arial", "xin-gothic-tc", "PingFang TC", "微軟正黑體", sans-serif;
$leadingNormal: 1.75;
$leadingTight: 1.375;

//$mincho: "century-std", "ja-extension", "heisei-mincho-std", sans-serif;
$mincho: "century-std", "kozuka-mincho-pr6n", "Kozuka Mincho Pr6N", sans-serif;
$monospace: "akkurat-mono", monospace;
$strong: "circular-pro", "xin-gothic-tc", "PingFang TC", sans-serif;
$grotesque: "circular-pro", "source-han-sans-tc", sans-serif;

// layout & unified style elements
$navHeight: 65px;
$lightGold: rgba($gold, 0.75);
$darkGold: rgba($gold, 0.85);
$lightShadow: 0 2px 4px 0 rgba(black, 0.25);
$darkShadow: 0 2px 4px 0 rgba(black, 0.35);
$borderWidth: 4px;
$borderGreen: $borderWidth solid $woc;

@mixin transform($attr) {
	-webkit-transform: $attr;
	transform: $attr;
}
