@import 'variables';
@import 'responsive';
@import 'susy';
$susy: (
  columns: 12,
  gutters: 1/3,
  gutter-position: split,
);

.grid {
	@include container();
}

#monthly-payments > .payment-option {
	@include span(3);
}
#gifts > .gift {
  @include span(3);
}
#one-time-purchases > .purchase-option {
  @include span(6);
}
#bill-of-rights > .bill {
  @include span(3);
}
#stats > .stat {
  @include span(12);
  > p {
    min-height: $rem * $leadingTight * 2; // temporary fix
  }
  &.small {
    @include span(6);
  }
  &.tiny {
    @include span(3);
  }
}
