@import 'variables';
@import 'responsive';
@import 'typography';

* {
	box-sizing: border-box;
}

nav {
	width: 100%;
	height: $navHeight;
	position: fixed;
	top: 0;
	background: $woc;
}
#nav-space {
	height: $navHeight;
}
nav > #home {
	width: 200px;
	height: $navHeight;
	background: url('../images/watchout-tw-first.svg');
	margin-left: 24px;
}
body > section {
	position: relative;
	> hgroup:first-child {
		padding: 1rem 0;
		background: rgba($woc, 0.25);
	}
	&#first-section {
		margin: 1rem 0;
	}
	&#first-section > hgroup {
		padding: 0;
		background: none;
	}
	&#fertile-land > #stats > .stat {
		margin-top: 1rem;
		margin-bottom: 1rem;
		> .number-wrapper {
			display: block;
			margin: 0.5rem 0;
		}
		> .project-icon + .number-wrapper {
			margin-top: 0;
		}
		> p {
			margin: 0;
		}
	}
	&#support {
		padding-top: $navHeight; // to make space for nav while jumping
	}
	&#fertile-land {
		margin-bottom: -$navHeight; // to absorb that space
	}
	&#we-are-you {
		margin-bottom: 1rem;
	}
}

.full-screen-image {
	width: 100%;
	height: 0;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;

	&#banner {
		padding-bottom: 60%;
		background-image: url('../images/forward-compact.png');
	}
	&#team {
		padding-bottom: 208.35%;
		background-image: url('../images/team-mobile.gif');
	}
}

.pop {
	background: $woc;
	margin: 2rem 0;
}
.prompt {
	box-sizing: content-box;
	display: block;
	color: $grey;
	width: 4em;
	padding: 10px;
	border: $borderWidth solid $grey;
	border-radius: $borderWidth;
	margin: 2rem auto 0.75rem;
}
.button {
	box-sizing: content-box;
	color: $orange;
	background: $lightGold;
	display: block;
	width: 4em;
	padding: 10px 12px;
	margin: 0 auto;
	box-shadow: $lightShadow;
	cursor: pointer;

	&:hover {
		background: $darkGold;
		box-shadow: $darkShadow;
	}
}
.divider {
	position: relative;
	border-top: $borderGreen;
	border-bottom: $borderGreen;
	margin: 2rem 0;
	@include M-L-screen {
		border: $borderGreen;
		border-radius: $borderWidth;
	}
}
badge {
	box-sizing: content-box;
	display: block;
	color: $woc;
	width: 2em;
	padding: 8px 11px;
	border: $borderGreen;
	border-radius: 100%;
	margin: 0 auto;
	@include transform(rotate(-15deg));
}
.divider > badge {
	position: absolute;
	left: 50%;
	background: white;
	@include transform(translate(-50%, -50%) rotate(-15deg));
}
.support-button {
	box-sizing: content-box;
	display: block;
	color: $orange;
	width: 2.05555555em; // 74px
	background: $lightGold;
	padding: 15px 24px;
	border-radius: 100%;
	margin: 0 auto;
	@include transform(scale(0.8));
	box-shadow: $lightShadow;
	cursor: pointer;

	&:hover {
		background: $darkGold;
		box-shadow: $darkShadow;
	}
	&.shadow {
		opacity: 0.1;
		position: absolute;
		left: 50%;
		@include transform(scale(0.8) translateX(-50%));
	}
}
#support-buttons.deployed {
	> .support-button.light {
		position: fixed;
		top: 0;
		right: 0;
		z-index: 2;
		background: $almostGold;
	}
	> .support-button.shadow {
		position: relative;
		left: auto;
		@include transform(scale(0.8));
	}
}

section#sm {
	padding: 4rem 0;
	background: rgba($woc, 0.25);
}
#stickers {
	margin-top: 2rem;
}
#email {
	margin: 3em 0 2em;
	@include transform(rotate(-5deg));
	> label {
		padding: 0.25em 0.375em;
		background: $woc;
	}
}
#copyright {
	margin: 2em 0 6em;
	@include transform(rotate(3deg));
}

@mixin icon($width, $height, $background, $step, $keys, $custom-width:(), $full-width: 100%) {
	display: block;
	width: $width;
	height: $height;
	background: url('../images/wo-august-2-' + $background + '.svg');
	background-size: $full-width;
	margin: 0 auto;

	@for $i from 0 through length($keys)-1 {
	  &[key="#{nth($keys, $i+1)}"] {
			@if length($custom-width) > 0 {
				width: #{nth($custom-width, $i+1)};
			}
	    background-position: center #{-$i*$step}; // shift window along Y
	  }
	}
}
$event-icon-height: 160px;
$event-icon-key: (誕生 國會無雙 無雙第一 無雙改版 市長給問 公民學院 無雙一千 立委出任務 總統給問 總統辯論 開放國會松);
$event-icon-width: ($event-icon-height 48 48 48 48 48 48 48 186 128 $event-icon-height);
.event-icon {
	@include icon(192px, $event-icon-height, 'desktop-events', $event-icon-height, $event-icon-key, $event-icon-width, 192px);
}
.event-icon[key="誕生"], .event-icon[key="開放國會松"] {
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
}
.event-icon[key="誕生"] {
	background-image: url('../images/goodfriend.png');
}
.event-icon[key="開放國會松"] {
	background-image: url('../images/congressthon-small.png');
}
.project-icon.small {
	@include icon(30px, 30px, 'project-logo-small', 30px, (國會無雙 給問 公民學院 立委出任務));
}
.payment-icon {
	@include icon(128px, 54px, 'monthly-payments', 64px, (100 250 500 1000));
}
.gift-icon {
	@include icon(128px, 118px, 'gifts', 128px, (certificate card newsletter present));
}
.purchase-icon {
	@include icon(284px, 108px, 'purchases', 108px, (600 1500 3000 3600 10000));
}
.bill-icon {
	@include icon(132px, 128px, 'mobile-bills', 128px, (voting callin achievement more));
	@include M-L-screen {
		@include icon(192px, 128px, 'desktop-bills', 128px, (voting callin achievement more));
	}
}

#timeline {
	position: relative;
	padding-bottom: 0.5rem;
}
#timeline:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	width: $borderWidth;
	height: 100%;
	background-repeat: repeat-x;
	background: $woc;
	$from: rgba($woc, 0.25);
	$to: $woc;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to)); // Safari 4-5, Chrome 1-9
  background: -webkit-linear-gradient(top, $from, $to); // Safari 5.1, Chrome 10+
  background: -moz-linear-gradient(top, $from, $to); // Firefox 3.6+
  background: -ms-linear-gradient(top, $from, $to); // IE 10
  background: -o-linear-gradient(top, $from, $to); // Opera 11.10+
	background: linear-gradient(from top, $from, $to);
}
#timeline > .event {
	position: relative;
	margin: 1rem 0;
	text-align: left;

	$M-event-icon-height: 92px;
	$S-event-icon-height: 60px;
	&.medium > .event-icon-wrapper {
		height: $M-event-icon-height;
		> .event-icon {
			margin-top: -($event-icon-height - $M-event-icon-height)/2;
		}
	}
	&.small > .event-icon-wrapper {
		height: $S-event-icon-height;
		> .event-icon {
			margin-top: -($event-icon-height - $S-event-icon-height)/2;
		}
	}

	> .event-icon-wrapper, > .tagline {
		display: inline-block;
		vertical-align: middle;
	}
	> .event-dialog {
		display: none;
		position: relative;
		width: 300px + 2*$borderWidth;
		border: $borderGreen;
		border-radius: $borderWidth;
		margin: 0 auto;
		background: rgba(white, 0.95);
		text-align: left;

		> .datetime {
			display: inline-block;
			margin: 0.25em 6px -0.25em;
		}
		> pgroup {
			margin: 0 auto 0.5rem;

			> p {
				line-height: $leadingTight;
			}
		}
		> .url {
			display: inline-block;
			background: $woc;
			width: 100%;
			padding: 8px 42px 8px 4px;

			@include M-L-screen {
				padding-right: 4px;
			}

			&:not(.disabled):after {
				content: '→';
				display: inline-block;
				padding-left: 0.5em;
			}
		}
		> .button.close {
			display: inline-block;
			color: black;
			font-size: 1.5rem;
			background: hsla(0%, 0%, 88%, 100%);
			position: absolute;
			right: 0;
			width: 42px;
			padding: 6px 0 10px;
			margin: 0;
			box-shadow: none;

			@include M-L-screen {
				display: none;
			}
		}
		.url, .button.close {
			vertical-align: top;
			line-height: 1.5rem;
			text-align: center;
		}
	}

	&.focus > .event-dialog {
		display: block;
		position: absolute;
		left: -32px;
		top: 50%;
		@include transform(translateY(-50%));
		z-index: 1;
		box-shadow: $lightShadow;
	}
}

#one-time-purchases > .purchase-option {
	position: relative;
	> .purchase-detail {
		display: none;
		position: absolute;
		left: 0;
		top: 0;
		width: 300px + 2*$borderWidth;
		height: 108px;
		border: $borderGreen;
		border-radius: $borderWidth;
		margin: 0 auto;
		padding: 6px;
		background: rgba(white, 0.95);

		line-height: $leadingTight;
		text-align: left;

		> li {
			float: left;
			width: 50%;

			> .t4 {
				display: inline-block;
				padding: 0 2px;
				margin-left: 2px;
			}
		}
	}
	&:hover > .purchase-detail {
		display: block;
	}
}

.info {
	display: block;
	width: 32px;
	height: 32px;
	background-image: url('../images/wo-august-2-info.svg');
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
}

#stickers {
	ul > li {
		display: inline-block;
		margin: 0.5rem 1rem;
		> .sticker-example, > .sticker-name {
			display: block;
		}
		> .sticker-example {
			width: 100px;
		}
		> .sticker-name {
			padding-top: 0.36em;
			margin-top: 0.25em;
		}
	}
}
