@font-face {
  font-family: "noto-serif-patch";
  font-weight: 700;
  font-style: normal;
  src: url('https://watchout.tw/fonts/noto-serif-patch/Bold.eot?#iefix') format('embedded-opentype'),
    url('https://watchout.tw/fonts/noto-serif-patch/Bold.woff') format('woff');
}
