/* Colors */

$color-watchout: #50E3C2;
$color-ask: #4DEBDF;
$color-musou: #FF5368;
$color-placeholder: rgba(0, 0, 0, 0.65);
$color-shadow: rgba(0, 0, 0, 0.25);
$color-nice-grey: #4a4a4a;

$color-soil-light: #bd7260;
$color-soil-dark: #8c4533;
$color-soil-deep: #434343;

/* Typography */

$font-size-small: 0.875rem;

/* Mixin */

@mixin placeholder {
  background-color: $color-placeholder;
  background-size: cover;
  background-position: center center;
}
@mixin font-monospace {
  font-family: "Space Mono", monospace;
}
@mixin font-serif {
  font-family: "noto-serif-patch", "source-han-serif-tc", serif;
}
@mixin underline {
  background-image: linear-gradient(to right, $color-ask 0%, $color-ask 100%);
  background-position: center;
  background-repeat: repeat-x;
  background-size: 0.5em 0.5em;
  background-blend-mode: multiply;
}

/* Bootstrap breakpoint */
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
@mixin bp-sm-up {
  @media (min-width: #{$bp-sm}) {
    @content;
  }
}
