@import 'variables';

/* General override */
html, body {
  font-size: 16px;
}

// Small element
h1, h2, h3, h4, h5 {
  @include font-serif;
  font-weight: bold;
}
h1 {
  font-size: 3rem;
  &.super {
    font-size: 6rem;
  }
  &.small {
    font-weight: bold;
    font-size: 2rem;
  }
  &.sit {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 0.5rem;
  }
}
h2 {
  font-size: 2.25rem;
}
hgroup > h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.875rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.125rem;
}
label {
  margin: 0;
}
img {
  display: block;
}

a, a:hover, a:focus, a:active, a:visited {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
a.a-text,
.a-text-only a {
  display: inline;
  @include underline(0.25);

  &:hover, &:focus, &:active {
    @include underline(1.0);
  }
}
a.a-block {
  display: block;
  &:hover, &:focus, &:active {
    .a-target {
      @include underline(1.0);
    }
  }
}

.close {
  float: none;
  display: block;
  position: absolute;
  top: -0.5rem;
  right: -2px;
  font-size: 2rem;
  line-height: 1;
  border-bottom-width: 4px;
  font-weight: normal;
  text-shadow: none;
  cursor: pointer;

  &, &:hover, &:focus {
    color: inherit;
    opacity: 1;
  }
}

// List
.list-unstyled {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

// Navbar
.navbar, .navbar-brand {
  padding: 0;
}

/* Watchout Commons-specific additional styles */
// following Bootstrap convention

// Background color
.bg-watchout {
  background-color: $color-watchout;
}
.bg-park {
  background-color: $color-park;
}
.bg-park-light {
  background-color: rgba($color-park, 0.25);
}
.bg-lab {
  background-color: $color-lab;
}
.bg-lab-light {
  background-color: rgba($color-lab, 0.25);
}
.bg-ask {
  background-color: $color-ask;
}
.bg-ask-light {
  background-color: rgba($color-ask, 0.25);
}
.bg-ask-gradient-to-transparent {
  background: linear-gradient(to bottom, rgba($color-ask, 0.25), rgba($color-ask, 0));
}
.bg-musou {
  background-color: $color-musou;
}
.bg-musou-light {
  background-color: rgba($color-musou, 0.25);
}
.bg-edu {
  background-color: $color-edu;
}
.bg-edu-light {
  background-color: rgba($color-edu, 0.25);
}


// Header
.header-center {
  text-align: center;
}
.header-block {
  margin: 0;
  padding: 0.333333em 0;
}
.header-block-tall {
  padding: 1em 0;
}

// Layout
section {
  width: 100%;
  padding-bottom: 2rem;
}
.container-960 {
  max-width: 960px + 15px*2;
  margin-left: auto;
  margin-right: auto;
}
.max-width-960 {
  max-width: 960px;
}

// Navbar
.logo-type {
  display: block;
  height: auto;
}

// Logo & icon
.logo-small, .icon-small {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: center center;
}
.logo-small {
  &.musou {
    background-image: url(https://watchout.tw/asset/logo/musou/small.png);
  }
  &.woo {
    background-image: url(https://watchout.tw/asset/logo/woo/small.png);
  }
}
.icon-small {
  &.transcript {
    background-image: url(https://watchout.tw/asset/icon/transcript/small.png);
  }
}

/* Watchout Commons-specific additional styles */

.pgroup {
  width: 18rem;
}
.pgroup-center {
  margin: 0 auto;
}

// Pitcher
#pitcher {
  position: fixed;
  bottom: 0.25rem;
  right: 0.25rem;
  z-index: 2;

  > .button {
    display: block;
    width: 5.625rem;
    height: 5.625rem;
    border-radius: 50%;
    background-size: contain;
    background-image: url(https://watchout.tw/asset/pitcher.png);
  }
  > .close {
    top: auto;
    bottom: -0.25rem;
    color: $color-watchout;
    opacity: 0.75;
  }
}

// Footer
footer {
  margin-top: 8rem;

  > .land {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    background-color: white;
    > .green,
    > .soil > .light,
    > .soil > .dark,
    > .soil > .deep {
      background-position: center;
      background-size: contain;
    }
    > .green {
      height: 14rem;
      background-image: url(https://watchout.tw/asset/footer/land/grass.png);
      background-repeat: repeat-x;
    }
    > .soil {
      > .light, > .dark {
        height: 2rem;
        background-repeat: no-repeat;
      }
      > .light {
        background-color: $color-soil-light;
        background-image: url(https://watchout.tw/asset/footer/land/soil/light.png);
      }
      > .dark {
        background-color: $color-soil-dark;
        background-image: url(https://watchout.tw/asset/footer/land/soil/dark.png);
      }
      > .deep {
        background-color: $color-soil-deep;
        padding-bottom: 2rem;
      }
    }
    > .elements {
      position: absolute;
      top: 0;
      width: 100%;
      height: 18rem;

      > .grass {
        position: absolute;
        bottom: 6rem;
        width: 100%;
        overflow: hidden;

        > .patch {
          background-size: contain;

          &.big {
            width: 1.75rem;
            height: 0.875rem;
            background-image: url(https://watchout.tw/asset/footer/grass/big.png);
          }
          &.small {
            width: 0.75rem;
            height: 0.5rem;
            background-image: url(https://watchout.tw/asset/footer/grass/small.png);
          }
        }
      }
      > .tree {
        position: absolute;

        &.tree-deliberate {
          bottom: 5.25rem;
          left: 10%;
          width: 11.25rem;
        }
        &.tree-discover {
          bottom: 5rem;
          left: 10%;
          transform: translateX(6rem);
          width: 8.5rem;
        }
        &.tree-investigate {
          display: none;
          bottom: 5.5rem;
          right: 10%;
          width: 11.875rem;

          @include bp-sm-up {
            display: block;
          }
        }
        &.tree-sprout {
          bottom: 4rem;
          right: 8%;
          width: 1.25rem;
        }
      }
      > .farmer {
        position: absolute;

        &.farmer-tangerine {
          bottom: 1.5rem;
          left: 12%;
          width: 4.625rem;
        }
        &.farmer-green {
          bottom: -0.5rem;
          right: 8%;
          width: 5rem;
        }
        &.farmer-brown {
          bottom: 4.5rem;
          left: 10%;
          transform: translateX(14rem);
          width: 2rem;
        }
      }
    }
  }
  // social links
  > .land > .soil > .deep > .social {
    margin: 0 auto;
    padding: 6rem 0;
    max-width: 20rem;

    > .group {
      margin: 2rem;
      > .link {
        > .image {
          display: block;
          position: relative;
          margin: 0 auto;
          width: 5.625rem;

          > img {
            width: 100%;
          }
          > .type {
            position: absolute;
            top: -0.5rem;
            left: -0.5rem;
            width: 1.625rem;
            height: 1.625rem;
            background-size: contain;
          }
        }
        > .message {
          @include font-serif;
          font-weight: bold;
          font-size: 1.125rem;
          color: rgba(white, 0.75); //color-nice-grey;
          //ransform: translate(2rem, -0.5rem) rotate(-15deg);
        }
      }

      &[type="facebook"] > .link > .image > .type {
        background-image: url(https://watchout.tw/asset/social/facebook/round.png);
      }
      &[type="LINE"] > .link > .image > .type {
        background-image: url(https://watchout.tw/asset/social/LINE/round.png);
      }
    }
  }
  // link cluster
  > .land > .soil > .deep > .cluster {
    color: white;

    > .group {
      margin: 0 2rem;
      > .item {
        color: rgba(white, 0.75); //$color-nice-grey;
        text-align: left;
      }
    }
  }
}
