// sass -I ../scss --watch scss:css
$ID: 0;
@import 'variables';
@import 'responsive';
@import 'typography';
@import 'common';

section:not(#cover) {
  margin-bottom: 8rem;
}
section#cover {
}
section#title {
  margin: 4rem 0 2rem;
  > #title-image {
    display: block;
    width: 286px;
    height: 160px;
    margin: 0 auto;
    padding: 0;
  }
}
.channel {
  > .logo {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto;
    background-size: cover;
  }
  $thumbnail-size: 128px;
  > table {
    display: block;
    max-width: 36rem;
    margin: 0 auto;
    .thumbnail {
      > img {
        width: $thumbnail-size;
      }
    }
  }
}

section#support {
}

#monthly-payments,
#one-time-purchases {
  > .option > .icons {
    display: block;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
  }
}
#monthly-payments > .option {
  margin-bottom: 4rem;
}
#one-time-purchases > .option {
  margin-bottom: 2rem;
}
.multiplier {
  display: inline-block;
  margin: 0.125rem;
  padding: 0.25rem;
  @include font-grotesque;
  font-size: 1.25rem;
  line-height: 1;
  background: black;
  color: white;
}
