<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://watchout.tw/asset/favicon.png">
  <link rel="stylesheet" type="text/css" href="./css/style.css">
  <title>沃草→草報←第四期↑</title>
</head>
<body>
  <div id="app">
    <section id="web-link"><a :href="permalink">在沃草網站上閱讀這封email</a></section>
    <section id="cover">
      <div v-if="cover.image" class="theater">
        <img :src="getAssetURL(cover.image)" />
      </div>
      <div id="header">
        <table>
          <tr>
            <td><img id="caobao" src="https://watchout.tw/news/images/logo.png" /></td>
            <td><ul id="issue"><li><label>{{ cover.issue }}</label></li><li><time>{{ cover.date }}</time></li></ul></td>
          </tr>
        </table>
      </div>
    </section>
    <nav>
      <h1>{{ nav.title }}</h1>
      <table id="toc">
        <tr v-for="item in nav.toc">
          <td class="image-before-text"><img class="logo" :src="getLogoURL(item.channel)" /></td><td><label>{{ item.title }}</label></td>
        </tr>
      </table>
      <div class="spacer"></div>
    </nav>
    <section v-for="section in sections" :id="section.id">
      <table class="header">
        <tr>
          <td class="logo image-before-text"><img class="logo" :src="getLogoURL(section.id)" /></td><td><label>{{ section.name }}</label></td>
        </tr>
      </table>
      <h2 v-if="section.title">{{ section.title }}</h2>
      <p v-if="section.description">{{ section.description }}</p>
      <table v-if="section.articles" class="articles">
        <tr v-for="article in section.articles">
          <td class="thumbnail image-before-text"><a :href="article.link" target="article"><img class="thumbnail" :src="getAssetURL(article.thumbnail)" /></a></td>
          <td class="text">
            <h3><a :href="article.link" target="article">{{ article.title }}</a></h3>
            <ul>
              <li v-for="line in article.text">{{ line }}</li>
            </ul>
          </td>
        </tr>
      </table>
      <div v-if="section.images" class="images">
        <div v-for="image in section.images" class="image">
          <h2 v-if="image.title">{{ image.title }}</h2>
          <p v-if="image.description">{{ image.description }}</p>
          <div class="theater" :orientation="image.orientation">
            <a v-if="image.link" :href="image.link" target="image"><img :src="getAssetURL(image.url)" /></a>
            <img v-else :src="getAssetURL(image.url)" />
          </div>
        </div>
      </div>
      <div v-if="section.products">
        <div v-for="product in section.products" class="product">
          <img :src="getAssetURL(product.image)" />
          <label class="name">{{ product.name }}</label>
          <a :href="product.link" target="product" class="button purchase" />{{ '$' + product.price }}</a>
        </div>
      </div>
      <div class="spacer">
    </section>
  </div><!-- end of app -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.4/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/vue.resource/1.2.1/vue-resource.min.js"></script>
  <script src="https://watchout.tw/src/common.js"></script>
  <script src="./src/app.js"></script>
</body>
</html>
